<template>
  <section>
    <div class="container">
      <section class="about">
        <h1 class="sectionTitle">Who We Are</h1>
        <hr class="themeLine" />
        <p class="description">
          Atheneum Global Teacher Training College is a digital solution built for the real world. The benefits of
          online learning can be life-changing—and should be accessible to all. That’s why our affordable
          programs are designed with you in mind. We empower you to learn in a way that fits your very busy,
          and very real, life.
        </p>
      </section>
      <section class="whyLearn">
        <h2 class="sectionTitle">Why Learn Online</h2>
        <v-row>
          <v-col>
            <client-only>
                <carousel
              :navigationEnabled="true"
              :autoplay="true"
              :perPageCustom="[[100, 1], [1024, 3]]"
              >
              <slide>
                <div class="content">
                  <i class="material-icons">event_available</i>
                  <p class="title">YOUR LIFE</p>
                  <p>Customize your studies to fit your busy schedule.</p>
                </div>
              </slide>
              <slide>
                <div class="content">
                  <i class="material-icons">business_center</i>
                  <p class="title">YOUR CAREER</p>
                  <p>Develop the in-demand skills employers demand.</p>
                </div>
              </slide>
              <slide>
                <div class="content">
                  <i class="material-icons">supervisor_account</i>
                  <p class="title">YOUR MOVE</p>
                  <p>Fulfill your potential. No barriers, no compromises.</p>
                </div>
              </slide>
            </carousel>
            </client-only>
          </v-col>
        </v-row>
      </section>

      <section class="learningExperience">
        <v-row align="center">
          <v-col md="7">
            <h2 class="sectionTitle">Learning Experience</h2>
            <p
              class="description"
            >So how does online college work? There are no long commutes or mandatory lectures, of course—but we're truly set apart by our focus on flexible schedules, real-world skills, and independent learning.</p>
            <nuxt-link :to="{path:'/why-atheneum/details',query:{query:1}}">
              <v-btn large class="ma-2 themeOutlineBtn" tile outlined>EXPLORE ONLINE LEARNING</v-btn>
            </nuxt-link>
          </v-col>
          <v-col md="4">
            <ul>
              <li>
                <i class="material-icons">check</i> Enroll any day of the year
              </li>
              <li>
                <i class="material-icons">check</i> Start right away
              </li>
              <li>
                <i class="material-icons">check</i> Progress at your own pace
              </li>
              <li>
                <i class="material-icons">check</i> Take exams online
              </li>
            </ul>
          </v-col>
        </v-row>
      </section>

      <section class="career">
        <v-row>
          <v-col md="6">
            <v-card class="mx-auto">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/image/Why/grad.webp`)"
              ></v-img>
              <div class="content">
                <p class="sectionTitle">Graduation</p>
                <p
                  class="description"
                >We hold a graduation ceremony every year to give students a chance to celebrate their accomplishments.</p>
                <br />
                <nuxt-link :to="{path:'/why-atheneum/details',query:{query:4}}">
                  <v-btn large class="ma-2 themeOutlineBtn" tile outlined>LEARN MORE</v-btn>
                </nuxt-link>
              </div>
            </v-card>
          </v-col>

          <v-col md="6">
            <v-card class="mx-auto">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/image/Why/home01.webp`)"
                :lazy-src="require(`@/assets/image/Why/home01.webp`)"
              ></v-img>
              <div class="content">
                <p class="sectionTitle">Career Services</p>
                <p
                  class="description"
                >When you need guidance to grow your career, the Atheneum EDGE is the career services portal that can help you.</p>
                <br />
                <nuxt-link :to="{path:'/why-atheneum/details',query:{query:5}}">
                  <v-btn large class="ma-2 themeOutlineBtn" tile outlined>LEARN MORE</v-btn>
                </nuxt-link>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </section>

      <section class="acceleration">
        <h2 class="sectionTitle">Accreditation and partners</h2>
        <p
          class="description"
        >At Atheneum College, we're committed to achieving the very highest standards in distance learning, school performance, and student results.</p>
        <nuxt-link :to="{path:'/why-atheneum/details/'}">
          <v-btn large class="ma-2 themeOutlineBtn" tile outlined>OUR ACCREDITATION</v-btn>
        </nuxt-link>
        <nuxt-link :to="{path:'/why-atheneum/details',query:{query:2}}">
          <v-btn large class="ma-2 themeOutlineBtn" tile outlined>PARTNERSHIP OPPORTUNITY</v-btn>
        </nuxt-link>
      </section>
    </div>
  </section>
</template>
<script>

// import { Carousel, Slide } from 'vue-carousel';

export default {
   components: {
    // Carousel,
    // Slide
  },
};
</script>

<style lang="scss" scoped>
.about {
  text-align: center;
  padding: 3em 0;
  .description {
    padding: 0 8em;
  }
}
.whyLearn {
  text-align: center;
  padding: 3em 0;

  .content {
    text-align: center;
    padding: 1em;

    .title {
      font-size: 1.5em !important;
      padding: 0;
      font-weight: bold;
      color: $mainColor;
      margin: 0.5em;
    }
    .material-icons {
      font-size: 70px !important;
      color: $mainColor;
    }
  }
}

.learningExperience {
  padding: 3em;
  background-color: #f2f6f9;

  .description {
    padding: 1em 8em 1em 0em;
  }

  ul {
    list-style: none;

    li {
      display: flex;
      align-items: center;

      .material-icons {
        font-size: 35px !important;
        color: $mainColor;
      }
    }
  }
}

.career {
  .content {
    padding: 2em;
  }
}
.acceleration {
  text-align: center;
  padding: 2em;
  .description {
    padding: 0 10em;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    .description {
      padding: 0 2em;
    }
  }
  .learningExperience {
    .description {
      padding: 0;
      text-align: center;
    }
  }
  .acceleration {
    .description {
      padding: 0 2em;
    }
  }
}
</style>
