<template>
  <section>
     <v-carousel cycle hide-delimiter-background show-arrows-on-hover>
      <v-carousel-item v-for="(slide, i) in slides" :key="i">
           <v-img
            :src="require(`@/assets/image/banner/home/${slide.src}`)"
            :lazy-src="require(`@/assets/image/banner/home/${slide.src}`)"
            class="courseImage"
          ></v-img>
      </v-carousel-item>
    </v-carousel>

  </section>
</template>
<script>
export default {
  name: "AppBanner",

  data:()=>{
    return {
        slides: [
          // {
          //   "id":1,
          //   "src":"home-1.png"
          // },
          // {
          //   "id":2,
          //   "src":"home (2).png"
          // },
          // {
          //   "id":3,
          //   "src":"home (3).png"
          // },
          {
            "id":5,
            "src":"home (5).webp"
          },
          {
            "id":6,
            "src":"home (6).webp"
          },
          {
            "id":7,
            "src":"home (7).webp"
          },
          {
            "id":8,
            "src":"home (8).webp"
          },


        ],
    }
  }
};
</script>
<style lang="scss" scoped>

  .v-sheet{
    background: white!important;
  }

  .homeSlider{
    max-height: 420px!important;
  }
  @media only screen and (max-width: 600px) {

    .v-responsive__content{
      height: 8em!important;
    }
    .homeSlider{
      height: 303px!important;
    }

  }

</style>
