<template>
  <section>
    <div class="headTitleContainer">
      <div class="container">
        <h1>Savings & Discounts</h1>
      </div>
    </div>
    <div class="container text-center">
      <p class="sectionTitle">Tuition savings plans</p>

      <v-row>
        <v-col md="8" offset-md="2">
          <v-card class="px-8 py-3 featureContainer">
            <p class="header">FEATURED OFFER</p>
             <p class="text">5% FOR EVERY REFERRAL </p>
            <p class="text">SAVE UP TO 50%*</p>
            <p
              class="aboutoffer"
            >For a limited time, you can save up to 50% on our accredited diploma, certificate, or degree programs. Offer expires  31/07/20.</p>
            <p class="text-small">
              <i>*Total savings amounts vary depending on the program in which you enroll and your tuition plan selected.</i>
            </p>
            <br />
            <p
              class="aboutoffer"
            >See how much you can save and review tuition options for your preferred program of study:</p>
            <br />
          </v-card>
          <v-row>
            <v-col cols="12" md="6">
              <v-select :items="programType" filled label="Program Type"></v-select>
            </v-col>
            <v-col cols="12" md="6">
              <v-select :items="programName" filled label="Program Name"></v-select>
            </v-col>
          </v-row>
          <v-btn large class="ma-2" tile outlined>
            <nuxt-link to="/enroll">GET MY SAVINGS NOW</nuxt-link>
          </v-btn>
        </v-col>
      </v-row>
    </div>
  </section>
</template>
<script>
export default {
  head() {
    return {
      title: "Featured offers | Atheneum Global",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Get a discount on Atheneum Global courses. Earn huge referral benefits. Offer available for all of our accredited diploma, certificate, or degree programs."
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/featured/' }
            ]
    };
  },
  data: () => {
    return {
      programType: [
        "Certification Course",
        "Graduate Course",
        "Post Graduate Course"
      ],
      programName: [
        "Montessori Studies",
        "Pre & Primary Education",
        "Early Childhood Education & Care",
        "Nursery Teacher Training",
        " School Organization : Administration and Management"
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
.featureContainer {
  background: $mainColor;
  color: white;

  .header {
    font-size: 1.5em;
    border-bottom: 1px solid#c6c6c6;
    padding-bottom: 0.5em;
  }
  .text {
    font-size: 2.2em;
  }
  .text-small {
    font-size: small;
  }
  .aboutoffer {
    font-size: 1.2em;
  }
}
</style>
