<template>
  <section>
    <AppBanner />
    <AppFeatured />
    <AppAbout />
  </section>
</template>
<script>
import AppBanner from "../../components/Why-Atheneum/AppBanner";
import AppAbout from "../../components/Why-Atheneum/AppAbout";
import AppFeatured from "../../components/AppFeatured";
export default {
  components: {
    AppBanner,
    AppAbout,
    AppFeatured
  },
  head() {
    return {
      title: "Why Choose Atheneum Global Teacher Training College",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "International Recognition for our teacher training courses. Enroll today for the perfect way to start your teaching career with a dream teacher’s job."
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/why-atheneum' }
            ]
    };
  }
};
</script>
<style lang="scss" scoped>
</style>
