<template>
  <section>
    <div class="container">
      <v-row>
        <v-col md="3">
          <programsLeftPanel/>
        </v-col>
        <v-col md="9">
          <v-card class="ma-md-2">
            <v-row align="center" justify="center">
              <img
                  src="/images/programs/certificate/soa.jpeg"
                  class="grey lighten-2 courseImage"
                  alt="CERTIFICATE IN SCHOOL ORGANIZATION"
                  style="width:100%; max-width:97.5%"
                />
              <!-- <v-img
                :src="require(`@/assets/image/programs/NTT.png`)"
                :lazy-src="require(`@/assets/image/programs/NTT.png`)"
                aspect-ratio="1"
                class="grey lighten-2 courseImage"
                max-width="97.5%"
              ></v-img> -->
            </v-row>

            <v-card class="pa-md-3">
              <h1 class="courseTitle px-1"> CERTIFICATE COURSE IN SCHOOL ORGANIZATION </h1>
              <div class="courseDescription px-1" >
                <p>With a burgeoning demand of well trained resources for the ever underserved educational industry, there is a pressing demand for well trained and qualified school administrators. The Certificate in school organization was established to meet this demand in various educational systems and organizations for skilled manpower in administrative and management positions in the shortest possible time.</p>
                <p>The certification caters to students considering a future in an early childhood environment in an administrative capacity. The course helps early childhood teachers and aspirants make a career as a teacher in an administrative role while not sacrificing on a current profession or life choices requiring them to obtain a global certification in a field of their choosing.</p>

              </div>
              <v-tabs show-arrows center-active vertical>
                <v-tab>COURSE DURATION</v-tab>
                <v-tab>ELIGIBILITY</v-tab>
                <v-tab>COURSE FEE</v-tab>
                <v-tab>CURRICULUM</v-tab>
                <v-tab>DIPLOMA</v-tab>
                <v-tab>ENROLLMENT PROCESS</v-tab>
                <v-tab>ACADEMIC SUPPORT</v-tab>
                <v-tab>PLACEMENTS</v-tab>

                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDuration">
                      <div class="pa-3">
                       <ul>
                        <li> Maximum duration of the course is 4 months. </li>
                        <li> It is a flexible program that can be pursued from any corner of the globe. </li>
                        <li> Self-paced.</li>
                        <li> Fast track mode permits early completion</li>
                       </ul>
                      </div>
                      <p>Average course completion time varies between 3-4 months depending on the number of hours per week that you devote to this course. The time spent though, is well accounted for as it equips teachers with the essential knowledge base to further his or her career in this field with confidence.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEligibility">
                      <div class="pa-3">
                        <ul>
                          <li>  A high school degree is the minimum requirement for this course.</li>
                          <li>  Aspiring and existing teachers are free to apply.</li>
                        </ul>
                      </div>
                      <p>The minimum eligibility requirement for the Certificate course in School Organization is a high school passing certificate. After you’ve enrolled yourself into the course, you’d have to submit your documentation for our records. </p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseFee">
                      <div class="pa-3">
                        <ul>
                          <li>  Program is available in online mode. </li>
                          <li>  Very reasonably priced with installment options available. </li>
                          <li>  Scholarships available for meritorious students. </li>
                        </ul>
                      </div>
                      <p>The Certificate course in School Organization is priced very affordably at Rs 9,500 for Indian citizens and $ 150 for international students. The course is administered completely online and hence extremely conveniently administered for students pursuing existing careers or those who require the flexibility of self paced online education. With a Certification from Atheneum Global Teacher Training College, be best placed for a global teaching career with a very affordable investment. </p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseCurriculam">
                      <p>The online Certificate in Educational Administration and Management is suitable for academics, administrative officials, heads of educational organizations such as principal and HODs.</p>
                      <p>Gain detailed information from the extensive curriculum and learn Academic Leadership and Training Center Management strategies to prepare for administrative responsibilities. </p>
                      <p><b>Theory :</b> 2 modules</p>
                      <b>THEORY</b>

                      <ol>
                        <li>Introduction to Early Childhood Education
                          <ol type="a">
                            <li>ORGANIZATION OF AN EARLY CHILDHOOD EDUCATION SETTING</li>
                            <li>THEORETICAL PERSPECTIVES </li>
                            <li>FAMILY INVOLVEMENT IN EARLY YEARS</li>
                          </ol>
                        </li>

                        <li> Early Childhood Education Management
                        <ol type="a">
                          <li>MANAGEMENT PROCESS</li>
                          <li>FINANCIAL MANAGEMENT </li>
                          <li>MATERIAL MANAGEMENT</li>
                        </ol>
                        </li>
                      </ol>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDiploma">
                      <p> After the completion of the Certificate course, candidates are awarded by Atheneum Global Teacher Training College. The Certification awarded has an added advantage as the word ‘Online’ is not mentioned in the certificates. Shipment of certificates within India is done free of cost but the candidates residing outside India are required to pay an additional US $ 25 (South East Asian & Middle Eastern Countries) and US $ 35 (rest of the world) as certificate dispatch fee. Generally after submission of all the assignments and completion of the course, you have to pay the dispatch fee. After that we take your shipping address and contact number and courier the certificate to the same. It takes a maximum of 3 weeks for the certificates to reach the candidate’s address.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEnrollment">
                      <ul>
                        <li>  Simple and easy enrollment process. </li>
                        <li>  Application and payment online. </li>
                      </ul>
                      <p>All our course requirements are clarified on our website, FAQs and Blog posts. You can also give us a call to help you with the onboarding process or to help clarify some aspects of the course.</p>
                      <p>Once you’ve made the online payment, you have to wait between 24-48 hours before we can enable your student account and get you started on your journey to academic success. </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseAcademic">
                      <ul>
                        <li>  Personalized tutor support. </li>
                        <li>  Tons of reference material and videos </li>
                        <li>  Self-Paced Program at a mouse click away from you.</li>
                      </ul>
                      <p> Trainees enrolled into the program would be personally tutored by our experienced faculties at Atheneum Global Teacher Training College. Regular doubt clearing sessions and other academic support is extended as part of this personalized tutoring. The learning is at your own pace and the support provided is completely personalized and carries high level of expertise. </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="coursePlacements">
                      <p>Atheneum Global Teacher Training College’s industry linkages and international credentials lends credibility to your candidature. Every candidate is issued a personalized letter to help him or her land up with an internship of their choice. This internship is an important step towards finishing your course as well as to start your journey as an educator. </p>
                      <p>In addition to this, candidates are also given privileged access to Jobs For Teachers, a national portal for teachers for all kinds of teaching assignments. In essence, what we wish to communicate is that Atheneum is committed to offer you the very best education and the very best access to teaching opportunities.</p>

                    </div>
                  </v-card>
                </v-tab-item>
              </v-tabs>
              <div class="d-flex justify-center align-center pa-3">
               <nuxt-link to="/enroll"> <v-btn large class="ma-2 themeBtn">
                  ENROLL NOW
                </v-btn></nuxt-link>
              </div>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
      <sliderTestimonialsPrograms/>

    </div>
  </section>
</template>

<script>
import programsLeftPanel from '../../components/programsLeftPanel';
import sliderTestimonialsPrograms from '../../components/sliderTestimonialsPrograms';

export default {
  components: { programsLeftPanel, sliderTestimonialsPrograms},
   head () {
    return {
      title: 'Certificate course in School Organization',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'This certification in school organization & management equips teachers with administrative skill sets to re-imagine their career in an early childhood environment.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/certificate-in-school-organization-administration-and-management/' }
            ]
    }
  },
  data: () => ({

  }),
  methods: {

  },
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
.courseTitle {
  color: $mainColor;
  padding: 1em 0;
  font-size: 1.5em;
}
ul {
  li {
    padding: 0.5em 0;
  }
}
.courseImage {
  max-height: 18em;
}
@media only screen and (max-width: 600px) {
  .courseImage {
    max-height: 7.5em;
  }
}
</style>
