<template>
    <section>
        <div class="headTitleContainer">
            <div class="container">
                <h1>Partnership</h1>
            </div>
        </div>
       <div class="container">
          <p class="sectionTitle">Our Partners</p>
          <p>Atheneum Global Teacher Training College has chosen to partner with like-minded institutions to deliver a fantastic teacher training curricula. Our partnerships also gives the students of our online programs the much needed practical exposure to work as a professional early childhood educator in an early learning setting. </p>
          <p>As we expand our footprint globally, our network will continue to provide our students with enough opportunity to put their theoretical knowledge into practice besides providing them with assured placement opportunities as the end of the course.(To provide a map like this here basis a list that we provide. Map should be auto updated)</p>

          <p class="sectionTitle">Partner with Us</p>
          <v-row align="center">
              <v-col md="4">
                  <v-img
                      src="/images/Why/career.webp"
                      lazy-src="/images/Why/career.webp"
                      aspect-ratio="1"
                      class="grey lighten-2"
                      max-width="500"
                      max-height="500"
                      ></v-img>
              </v-col>
              <v-col md="8">
                  <div class="content py-5 px-2">
                      <h2>THE REQUIREMENTS</h2>
                      <p>We require highly committed educationists currently in the field of early childhood education. Your profile could be one of the following –</p>
                      <ul>
                          <li>1. You run a preschool and recognize the acute shortfall of teachers in your city. You are looking to partner with a world class recognized course provider that can reinforce your brand image before prospective teachers in particular and the education industry in general.</li>
                          <li>2. You are the principal of a high school and recognize the pains involved in hiring trained and qualified teachers. A partnership with Atheneum Global will help you to be equipped with industry ready talent who have gone through the rigors of the curriculum. </li>
                          <li>3. You run a teacher training institute and are registered as a vocational training centre under National Skill Development Corporation or similar. You seek a training partner to provide training modules for trainee teachers to make them industry ready. Atheneum Global is the perfect foil for you as you seek to scale up while we assist as your training partners. </li>
                      </ul>
                  </div>
              </v-col>
          </v-row>
          <v-row align="center">
              <v-col md="8">
                  <div class="content py-5 px-2">
                      <h2>The Business Model</h2>
                      <p>Partners of Atheneum Global are recognized and affiliated members of the Teacher Training College which is duly acknowledged with a certificate of endorsement to be displayed prominently at partner locations. These partner centres would become bonafide admission centres for Atheneum Global which equips them to take admissions on behalf of the Teacher Training College with a revenue sharing arrangement. </p>
                      <p>All partners would go through a training program to equip them with the requisite skillsets to become effective spokespersons for brand Atheneum enabling them to maximize their chances of success. </p>
                      <p>They would also have a branded micro site dedicated for their admission centre enabling them to carry on their business with the pride and acknowledge of partnering a global training powerhouse.  </p>

                  </div>
              </v-col>
              <v-col md="4">
                  <v-img
                      src="/images/Why/online.webp"
                      lazy-src="/images/Why/online.webp"
                      aspect-ratio="1"
                      class="grey lighten-2"
                      max-width="500"
                      max-height="500"
                      ></v-img>
              </v-col>
          </v-row>
          <v-row align="center">
              <v-col md="4">
                  <v-img
                      src="/images/Why/return.webp"
                      lazy-src="/images/Why/return.webp"
                      aspect-ratio="1"
                      class="grey lighten-2"
                      max-width="500"
                      max-height="500"
                      ></v-img>
              </v-col>
              <v-col md="8">
                  <div class="content py-5 px-2">
                      <h2>The Benefits of Partnership</h2>
                      <p>A partnership with Atheneum Global serves to harness the opportunity of piggy backing on Atheneum’s proven expertise while solving a real world problem by bridging the demand supply gap facing the education industry today of trained teachers.</p>
                      <p>If you run any educational institute, Atheneum Global Teacher Training College’s affiliation will stand you in good stead before discerning students looking for quality education. </p>
                      <p>If you’ve run your school for more than a few years, you must surely have experienced teacher shortages intermittently. This partnership contributes phenomenally to –</p>
                      <ul>
                          <li>1. Attract the best talent to your institute</li>
                          <li>2. Provide a steady stream of trainee teachers who complete internship assignments in your school thereby significantly alleviating your resourcing woes.</li>
                      </ul>
                      <p>We’ll be glad to assist you to set up a partnership centre of Atheneum Global Teacher Training College.</p>
                  </div>
              </v-col>
          </v-row>

          <section class="slider">
            <p class="sectionTitle text-center">Atheneum College graduate success stories</p>
            <v-carousel cycle height="100%" width="100%" hide-delimiter-background show-arrows-on-hover>
          <v-carousel-item v-for="(testimonial,i) in testimonials" :key="i">
            <v-row>
              <v-col cols="12" sm="12" md="6" style="text-align:center;">
                <img
                  :src="'/images/programs/'+testimonial.image"
                  class="white--text align-end"
                  height="300px"
                  :alt="testimonial.alt"
                />
                <!-- <v-img
                  class="white--text align-end"
                  height="300px"
                  :src="require(`@/assets/image/programs/${testimonial.image}`)"
                  contain
                ></v-img> -->
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <div class="sliderContent pa-2">
                  <p class="title">{{testimonial.category}}</p>
                  <h2>{{testimonial.title}}</h2>
                  <p>{{testimonial.description}}</p>
                </div>
              </v-col>
            </v-row>
          </v-carousel-item>
        </v-carousel>
          </section>

       </div>
    </section>
</template>

<script>
export default {
  head() {
    return {
      title: "Our Partners | Atheneum Global Teacher Training College",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Become an Atheneum Partner Institution if you would like to profit from the fast growing teacher training industry with low investment and little involvement."
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/partnership/' }
            ]
    };
  },
  data:()=>{
    return {
      testimonials: [
        {
          id: 1,
          image: "01.webp",
          category: "POST GRADUATE DIPLOMA",
          title: "PRE & PRIMARY TEACHER TRAINING",
          alt: "PRE & PRIMARY TEACHER TRAINING",
          description:
            "The PG Diploma in Pre & Primary Teacher Training (PPTT) is the appropriate course available to students who are seeking to fulfill the requirements of a pre and primary teacher. The course adopts curriculum guidance from the National Curriculum Framework guidance provided by the Ministry of Women and Child Development and equips course participants with the knowledge and confidence to be expert practitioners in schools and preschools of their choice."
        },
        {
          id: 2,
          image: "MONTESSORI-EDUCATION.png",
          category: "CERTIFICATE COURSE",
          title: "MONTESSORI EDUCATION",
          alt:"MONTESSORI EDUCATION",
          description:
            "The Certificate Program in Montessori Teacher Training educates students about the core ideas of Dr. Maria Montessori and equips students to become effective Montessorians looking to start a career as a Montessori educator. The Certificate Program in Montessori Education prepares educators on the internationally acclaimed Montessori Method in an educational setting."
        },
        {
          id: 3,
          image: "02.webp",
          category: "POST GRADUATE DIPLOMA",
          title: "EARLY CHILDHOOD CARE & EDUCATION",
          alt: "EARLY CHILDHOOD CARE & EDUCATION",
          description:
            "The post graduate diploma in early childhood care and education prepares teachers for a global career in an early learning setting – a preschool, high school or even in a homeschooling set up. It has the right blend of discussion on international structural educational frameworks while incorporating localized practical learnings into the curriculum."
        },
        {
          id: 4,
          image: "05.webp",
          category: "GRADUATE DIPLOMA",
          title: "NURSERY TEACHER TRAINING",
          alt: "NURSERY TEACHER TRAINING",
          description:
            "The Graduate Diploma in Nursery Teacher Training is the ideal program for aspirants who want to teach in the nursery and pre-primary sections of high schools in India. The core course has been framed within the guidelines mandated by the National Council of Educational Research and Training (NCERT) and prepares teachers at the national level for the rigors of teaching in a nursery setting."
        },
        {
          id: 5,
          image: "MONTESSORI-EDUCATION-PG.png",
          category: "POST GRADUATE DIPLOMA",
          title: "MONTESSORI EDUCATION",
          alt:"MONTESSORI EDUCATION",
          description:
            "The Program Post Graduate Diploma in Montessori Education (PGDME) prepares trained educators on the highest concepts and practicalities surrounding the internationally acclaimed Montessori Method in an educational setting. The Program targets at developing crucial competencies, abilities and values needed for powerful faculty leadership and management. The program focuses on having world class effective school leaders. PGDME is unique, scientific and innovative child-centered educational and management program based on the philosophy of Dr. Maria Montessori."
        }

      ]
    }
  }
}
</script>
<style lang="scss" scoped>
ul{
    list-style: none;
}
</style>
