<template>
  <section>
    <div class="container loginContainer">
      <v-card class="mx-auto loginDiv">
        <v-row>
          <v-col cols="12" md="6" class="logoDiv">
            <img class="logo" :src="require(`@/assets/image/logo.jpeg`)" alt />
          </v-col>
          <v-col cols="12" md="6">
            <p class="sectionTitle">Login Here</p>

              <v-row>
                <v-col cols="12">
                  <v-text-field label="Email" required filled></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Email" required filled></v-text-field>
                </v-col>

              </v-row>

              <p >Not A Student ? <span class="register"><nuxt-link :to="{path:'/register'}">Register Now </nuxt-link> </span> </p>

              <v-btn large class="my-4 themeBtn">submit</v-btn>

          </v-col>
        </v-row>
      </v-card>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    password: "",
    name: ""
  })
};
</script>
<style lang="scss" scoped>
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .loginDiv {
    padding: 2em;
  }
}
.register{
  color: $mainColor;
}
.sectionTitle {
  font-size: 2em;
  color:$mainColor;
}
.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    height: 8em;
  }
}
</style>
