<template>
  <section>
    <div class="container loginContainer">
      <v-card class="mx-auto loginDiv">
        <v-row>
          <!-- <v-col cols="12" md="6" class="logoDiv">
            <img class="logo" :src="require(`@/assets/image/logo.jpeg`)" alt />
          </v-col> -->
          <v-col cols="12" md="6" offset-md="3">
            <p class="sectionTitle">Register Here</p>

              <v-row>
                <!-- <v-col cols="12" md="6">
                  <v-select :items="programType" filled label="Program Type"></v-select>
                </v-col>
                <v-col cols="12" md="6">
                  <v-select :items="programName" filled label="Program Type"></v-select>
                </v-col> -->
                <v-col cols="12" md="6">
                  <v-text-field label="Name" required filled></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field label="Email" required filled></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Phone" required filled></v-text-field>
                </v-col>

              </v-row>

              <v-btn large class="my-4 themeBtn">Register Now</v-btn>

          </v-col>
        </v-row>
      </v-card>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    password: "",
    name: "",
     programType: [
      "Certification Course",
      "Graduate Course",
      "Post Graduate Course"
    ],
    programName: [
      "Montessori Studies",
      "Pre & Primary Education",
      "Early Childhood Education & Care",
      "Nursery Teacher Training",
      " School Organization : Administration and Management"
    ]
  })
};
</script>
<style lang="scss" scoped>
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .loginDiv {
    padding: 2em;
  }
}
.sectionTitle {
  font-size: 2em;
  color:$mainColor;
}
.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    height: 8em;
  }
}
</style>
