<template>
  <section>
    <div class="headTitleContainer">
      <div class="container">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="tabPanel">
      <div class="container">
        <v-card class="pa-md-6">
          <v-tabs show-arrows center-active vertical v-model="active_tab">
            <v-tab>Accreditations and Memberships</v-tab>
            <v-tab>Online Learning Experience</v-tab>
            <v-tab>Student Life</v-tab>
            <v-tab>Mission & Objectives</v-tab>
            <v-tab>Graduate Success</v-tab>
            <v-tab>Global Teacher Training College</v-tab>

            <v-tab-item>
              <v-card >
                <AppAccreditation />
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <AppOnlineLearning />
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <AppStudentLife />
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <AppMission />
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <AppGraduate />
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <AppGlobal />
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </div>
    </div>
  </section>
</template>
<script>
import AppAccreditation from "../../../components/Why-Atheneum/Details/AppAccreditation";
import AppOnlineLearning from "../../../components/Why-Atheneum/Details/AppOnlineLearning";
import AppStudentLife from "../../../components/Why-Atheneum/Details/AppStudentLife";
import AppMission from "../../../components/Why-Atheneum/Details/AppMission";
import AppGlobal from "../../../components/Why-Atheneum/Details/AppGlobal";
import AppGraduate from "../../../components/Why-Atheneum/Details/AppGraduate";
export default {
  components: {
    AppAccreditation,
    AppOnlineLearning,
    AppStudentLife,
    AppMission,
    AppGlobal,
    AppGraduate
  },
  head() {
    return {
      title: "Why Atheneum - Atheneum College",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "We are in the business of breaking down barriers. Find out how we make practical, career-focused learning more accessible than ever before."
        }
      ]
    };
  },
  data: () => ({
    active_tab: 4,

    title: "Why Atheneum"
  }),
  mounted() {
    this.updateActiveIndex();
  },
  methods: {
    updateActiveIndex() {
      this.active_tab = parseInt(this.$route.fullPath.split("?query=")[1]);
      console.log(this.active_tab);
    }
  }
};
</script>
<style lang="scss" scoped>
.v-card {
  padding: 0 1em;
  margin-bottom: 3em;
}
@media only screen and (max-width: 600px) {
  .v-card {
    padding: 0.3em;
    margin-bottom: 1.5em;
  }
}
</style>

