<template>
    <section>
        <AppBanner/>
        <AppFeatured/>
        <AppAdmissionDetails/>
    </section>
</template>
<script>
import AppBanner from '../../components/Admission/AppBanner'
import AppFeatured from '../../components/AppFeatured'
import AppAdmissionDetails from '../../components/Admission/AppAdmissionDetails'
export default {
    components:{
        AppBanner,
        AppAdmissionDetails,
        AppFeatured
    },
    head() {
      return {
        title: "Admission Process Details for online courses | Atheneum",
        meta: [
          {
            hid: "description",
            name: "description",
            content:
              "Join any of our diverse range of career certificate and diploma programs for an affordable cost. Flexible payment options, and a simple admissions process."
          }
        ],
        link: [
            { rel: 'canonical', href: 'https://atheneumglobal.education/admission' }
              ]
      };
    }
}
</script>
