<template>
  <section>
    <div class="container">
      <v-row>
        <v-col md="3">
          <programsLeftPanel/>
        </v-col>
        <v-col md="9">
          <v-card class="ma-md-2">
            <v-row align="center" justify="center">
              <img
                  src="/images/programs/certificate/ECE.jpeg"
                  class="grey lighten-2 courseImage"
                  alt="CERTIFICATE PROGRAM IN EARLY CHILDHOOD CARE & EDUCATION"
                  style="width:100%; max-width:97.5%"
                />
              <!-- <v-img
                :src="require(`@/assets/image/programs/ECE.png`)"
                :lazy-src="require(`@/assets/image/programs/ECE.png`)"
                aspect-ratio="1"
                class="grey lighten-2 courseImage"
                max-width="97.5%"
              ></v-img> -->
            </v-row>

            <v-card class="pa-md-3">
              <h1 class="courseTitle px-1"> CERTIFICATE PROGRAM IN EARLY CHILDHOOD CARE & EDUCATION </h1>
              <div class="courseDescription px-1" >
                <p>A Certificate Program in Early Childhood Care and Education equips course participants to implement relevant theoretical and practical frameworks surrounding early childhood education. It has been created on the guidelines laid down by the Ministry of Women and Child Development, Government of India. It is the perfect classroom enablement for teacher training aspirants looking to further their career in the field of early childhood education.</p>
                <p>The course is tailor made to suit the needs of those students who seek to a global career in the teaching profession without compromising on an existing career or life choices that requires them to pursue a global graduate diploma.</p>

              </div>
              <v-tabs show-arrows center-active vertical>
                <v-tab>COURSE DURATION</v-tab>
                <v-tab>ELIGIBILITY</v-tab>
                <v-tab>COURSE FEE</v-tab>
                <v-tab>CURRICULUM</v-tab>
                <v-tab>DIPLOMA</v-tab>
                <v-tab>ENROLLMENT PROCESS</v-tab>
                <v-tab>ACADEMIC SUPPORT</v-tab>
                <v-tab>PLACEMENTS</v-tab>

                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDuration">
                      <div class="pa-3">
                       <ul>
                        <li> Maximum duration of the course is 4 months. </li>
                        <li> It is a flexible program that can be pursued from anywhere.</li>
                        <li> Self-paced.</li>
                        <li> Fast track mode permits early completion</li>
                       </ul>
                      </div>
                      <p>The Certificate Program in Early Childhood Care and Education incorporates practical learnings into the curriculum. The duration of the course, at maximum of 4 months, is a little longer than other teacher training colleges offer owing our in-depth curriculum. Average course completion time varies between 2-3 months depending on the number of hours per week that you devote to this course. The time spent though, is well accounted for as it equips teachers with the essential knowledge base to further his or her career in this field with confidence.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEligibility">
                      <div class="pa-3">
                        <ul>
                          <li>  A high school graduation is the minimum requirement for this course. </li>
                          <li> Aspiring and existing teachers are free to apply. </li>
                        </ul>
                      </div>
                      <p>The minimum eligibility requirement for the Certificate Program in early childhood care and education is a high school graduation certificate from any recognized institute. After you’ve enrolled yourself into the course, you’d have to submit your documentation for our records.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseFee">
                      <div class="pa-3">
                        <ul>
                          <li>  Program is available in online mode. </li>
                          <li>  Very reasonably priced with installment options available. </li>
                          <li>  Scholarships available for meritorious students. </li>
                        </ul>
                      </div>
                      <p>The graduate diploma in early childhood care and education is priced very affordably at Rs 9,500 for Indian citizens and $ 150 for international students. The course is administered completely online for your benefit and convenience. A Certificate from Atheneum Global Teacher Training College opens up various possibilities for you as you embark on your journey towards a successful teaching career.</p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseCurriculam">
                      <p>The term ECCE refers to a philosophy of providing opportunities/experiences to young children up to 8 years of age in order to promote their holistic development, as well as arranging and providing services and support systems to communities and families to meet the needs of their young children. The National Early Childhood Care and Education curriculum framework created by the nodal Ministry of Women and Child Development, Govt of India helps to ensure opportunities for holistic learning and growth for children in early childhood. The Certification Program in ECCE at Atheneum cognizes for these factors and expectations in creating the most comprehensive ECCE course available online. A detailed syllabus can be found here.</p>
                      <ol>
                        <li>Objectives and Principles of ECCE </li>
                        <li>Early Years Development</li>
                        <li>Developmentally Appropriate Practices</li>
                        <li>Early Learning Environment</li>
                      </ol>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDiploma">
                      <p> After the completion of the course, candidates are awarded a Certification by Atheneum Global Teacher Training College. Atheneum carries several international affiliations of significance.</p>
                      <p>You will be awarded a globally recognized certificate from Atheneum Global Teacher Training College on successful completion of Graduate Diploma in Early Childhood Care and Education. The diploma awarded has an added advantage as the word ‘Online’ is not mentioned in the certificates. Shipment of certificates within India is done free of cost but the candidates residing outside India are required to pay an additional US $ 25 (South East Asian & Middle Eastern Countries) and US $ 35 (rest of the world) as certificate dispatch fee. Generally after submission of all the assignments and completion of the course, you have to pay the dispatch fee. After that we take your shipping address and contact number and courier the certificate to the same. It takes a maximum of 3 weeks for the certificates to reach the candidate’s address.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEnrollment">
                      <ul>
                        <li>  Simple and easy enrollment process. </li>
                        <li>  Application and payment online. </li>
                      </ul>
                      <p>Do clarify all your doubts before you enroll yourself into the course. You can also give us a call to help you with the onboarding process or to help clarify some aspects of the course.</p>
                      <p>Once you’ve made the online payment, you have to wait between 24-48 hours before we can enable your student account and get you started on your journey to academic success. </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseAcademic">
                      <ul>
                        <li>  Personalized tutor support. </li>
                        <li>  Tons of reference material and videos </li>
                        <li>  Self Paced </li>
                      </ul>
                      <p> Trainees enrolled into a program have access to trained mentors who cumulatively have hundreds of years of experience as teacher educators and are associated with Atheneum Global Teacher Training College. Trainees are allocated a personalized tutor who is available to the trainees at all times for doubt clearing sessions and other academic support. The learning is at your own pace and the support provided is completely personalized and carries high level of expertise.
                      </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="coursePlacements">
                      <p>Our strong linkages with the education industry and international credentials lends credibility to your candidature. Every candidate is issued a personalized letter to help him or her land up with an internship of their choice. This internship is an important step towards finishing your course as well as to start your journey as an educator.</p>
                      <p>Candidates are also given privileged access to Jobs For Teachers, a national portal for teachers for all kinds of teaching assignments. Atheneum offers you the very best education and the very best access to teaching opportunities. </p>

                    </div>
                  </v-card>
                </v-tab-item>
              </v-tabs>
              <div class="d-flex justify-center align-center pa-3">
               <nuxt-link to="/enroll"> <v-btn large class="ma-2 themeBtn">
                  ENROLL NOW
                </v-btn></nuxt-link>
              </div>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
      <sliderTestimonialsPrograms/>

    </div>
  </section>
</template>

<script>
import programsLeftPanel from '../../components/programsLeftPanel';
import sliderTestimonialsPrograms from '../../components/sliderTestimonialsPrograms';

export default {
  components: { programsLeftPanel, sliderTestimonialsPrograms},
   head () {
    return {
      title: 'Certificate in Early Childhood Care and Education ',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Atheneum offers certificate programs for early childhood education and trains professional educators to mold the mind of young learners.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/certificate-in-early-childhood-education-and-care/' }
            ]
    }
  },
  data: () => ({

  }),
  methods: {

  },
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
.courseTitle {
  color: $mainColor;
  padding: 1em 0;
  font-size: 1.5em;
}
ul {
  li {
    padding: 0.5em 0;
  }
}
.courseImage {
  max-height: 18em;
}
@media only screen and (max-width: 600px) {
  .courseImage {
    max-height: 7.5em;
  }
}
</style>
