<template>
  <section>
    <div class="container">
      <v-row>
        <v-col md="3">
          <programsLeftPanel/>
        </v-col>
        <v-col md="9">
          <v-card class="ma-md-2">
            <v-row align="center" justify="center">
              <img
                  src="/images/programs/PPTT.png"
                  class="grey lighten-2 courseImage"
                  alt="GRADUATE DIPLOMA IN PRE & PRIMARY TEACHER TRAINING"
                  style="width:100%; max-width:97.5%"
                />
              <!-- <v-img
                :src="require(`@/assets/image/programs/MTT.png`)"
                :lazy-src="require(`@/assets/image/programs/MTT.png`)"
                aspect-ratio="1"
                class="grey lighten-2 courseImage"
                max-width="97.5%"
              ></v-img> -->
            </v-row>

            <v-card class="pa-md-3">
              <h1 class="courseTitle px-1"> GRADUATE DIPLOMA IN PRE & PRIMARY TEACHER TRAINING </h1>
              <div class="courseDescription px-1" >
                <p> The Graduate Diploma in Pre & Primary Teacher Training (PPTT) is the appropriate course available to students who are seeking to fulfill the requirements of a pre and primary teacher. The course adopts the best practices from the National Curriculum Framework guidance provided by the Ministry of Women and Child Development and equips course participants with the knowledge and confidence to be expert practitioners in schools and preschools of their choice. </p>
                <p> In its position paper on Pre and Primary Education, the National Council of Educational Research and Training (NCERT) acknowledges that the first 6 to 8 years of a child’s life are globally recognized to be the most critical years for lifelong development since the pace of development in these years is extremely rapid. This stage in life is also important as a foundation for the inculcation of social values and personal habits, which are known to last a lifetime. What follows logically is the crucial importance of investing in these early years to ensure an enabling environment for every child, and thereby a sound foundation for life, which is not only the right of every child but which will also impact, in the long term, the quality of human capital available to a country. Pre and Primary Education and a teacher training to equip trainees to carry an impact in this age group, derives its importance from this rationale.</p>
                <p> The course is perfect for those students who are seeking to fulfil the role of an educator in a pre and primary setting without compromising on an existing career or life choices that requires them to pursue a global post-graduation diploma in a field of their choice.</p>

              </div>
              <v-tabs show-arrows center-active vertical>
                <v-tab>COURSE DURATION</v-tab>
                <v-tab>ELIGIBILITY</v-tab>
                <v-tab>COURSE FEE</v-tab>
                <v-tab>CURRICULUM</v-tab>
                <v-tab>DIPLOMA</v-tab>
                <v-tab>ENROLLMENT PROCESS</v-tab>
                <v-tab>ACADEMIC SUPPORT</v-tab>
                <v-tab>PLACEMENTS</v-tab>

                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDuration">
                      <div class="pa-3">
                       <ul>
                        <li> Maximum duration of the course is 9 months. </li>
                        <li> It is a flexible program that can be pursued from any corner of the globe. </li>
                        <li> Self-paced.</li>
                        <li> Fast track mode permits early completion</li>
                       </ul>
                      </div>
                      <p>The Graduate Diploma in Pre and Primary Teacher Training prepares teachers for a career as an educator in the pre and primary setting of any educational institution in the country and also internationally. The duration of the course, at maximum of 9 months, is a little longer than other teacher training colleges offer owing to a vast and in-depth curriculum. Average course completion time varies between 4-6 months depending on the number of hours per week that you devote to this course. The time spent though, is well accounted for as it equips teachers with the essential knowledge base to further his or her career in this field with confidence.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEligibility">
                      <div class="pa-3">
                        <ul>
                          <li>  A Bachelors degree is the minimum requirement for this course. </li>
                          <li>  Aspiring and existing teachers are free to apply. </li>
                        </ul>
                      </div>
                      <p>The minimum eligibility requirement for the Graduate Diploma in Pre and Primary Teacher Training is a high school graduation from any recognized institute. After you’ve enrolled yourself into the course, you’d have to submit your documentation for our records. </p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseFee">
                      <div class="pa-3">
                        <ul>
                          <li>  Program is available in online mode. </li>
                          <li>  Very reasonably priced with installment options available. </li>
                          <li>  Scholarships available for meritorious students. </li>
                        </ul>
                      </div>
                      <p>The Graduate Diploma in Pre and Primary Teacher Training is priced very affordably at Rs 15,500 for Indian citizens and $250 for international students. The course is administered completely online and hence extremely conveniently administered for students pursuing existing careers or those who require the flexibility of self-paced online education. With a Graduation from Atheneum Global Teacher Training College, be assured of a global teaching career with a very affordable investment.  </p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseCurriculam">
                      <p> Atheneum’s Graduate Diploma in Pre and Primary Teacher Training, offers an in-depth curriculum that is strongly linked to the National ECCE Curriculum Framework set by the Ministry of Women and Child Development in conjunction with the HRD Ministry. It also draws upon curriculum guidelines set by the National Council of Educational Research and Training (NCERT).</p>
                      <p>The curriculum takes into account several best practices mandated by national and international frameworks supporting pre and primary education in India and beyond. It is a comprehensive course, in fact, a class apart in the online education space, which makes graduates from Atheneum Global Teacher Training College readily employable with a distinct competitive advantage over other candidates.</p>
                      <p>Keeping these guidelines in mind, the graduate course covers the following topics in depth in a course than spans 9 months.</p>
                      <ol>
                        <li>Objectives and Principles of PPTT </li>
                        <li>Pre-Primary Administration</li>
                        <li>Child Development</li>
                        <li>Developmentally Appropriate Practices in Pre-Primary Education </li>
                        <li>Guidance and Discipline</li>
                        <li>Early Learning Theories</li>
                        <li>Classroom Management & Areas of Learning in Early Years </li>
                        <li>Planning in Early Years</li>
                        <li>Play and its Benefits</li>
                        <li>Evaluation in Early Years </li>
                      </ol>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDiploma">
                      <p> At the completion of the course, candidates are awarded a global diploma by Atheneum Global Teacher Training College. Atheneum, a global teacher educator, carries several international affiliations of significance.</p>
                      <p> You will be awarded a globally recognized diploma from Atheneum Global Teacher Training College on successful completion of Graduate Diploma in Pre and Primary Teacher Training. The diploma awarded have an added advantage as the word ‘Online’ is not mentioned in the certificates. Shipment of certificates within India is done free of cost but the candidates residing outside India are required to pay an additional US $ 25 (South East Asian & Middle Eastern Countries) and US $ 35 (rest of the world) as certificate dispatch fee. Generally after submission of all the assignments and completion of the course, you have to pay the dispatch fee. After that we take your shipping address and contact number and courier the certificate to the same. It takes a maximum of 3 weeks for the certificates to reach the candidate’s address.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEnrollment">
                      <ul>
                        <li>  Simple and easy enrollment process. </li>
                        <li>  Application and payment online. </li>
                      </ul>
                      <p>Go through our FAQs and Blogs and you would be ready to enroll yourself into the course. You can also give us a call to help you with the onboarding process or to help clarify some aspects of the course.</p>
                      <p>Once you’ve made the online payment, you have to wait between 24-48 hours before we can enable your student account and get you started on your journey to academic success.  </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseAcademic">
                      <ul>
                        <li>  Personalized tutor support. </li>
                        <li>  Tons of reference material and videos </li>
                        <li>  Self Paced </li>
                      </ul>
                      <p> Trainees enrolled into the program would be personally tutored by our experienced faculties at Atheneum Global Teacher Training College. Regular doubt clearing sessions and other academic support is extended as part of this personalized tutoring. The learning is at your own pace and the support provided is completely personalized and carries high level of expertise.  </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="coursePlacements">
                      <p>Atheneum Global Teacher Training College is educates global professionals to pursue a teaching profession in a school or preschool of your choice. Our industry linkages and international credentials lends credibility to your candidature. Every candidate is issued a personalized letter to help him or her land up with an internship of their choice. This internship is an important step towards finishing your course as well as to start your journey as an educator. </p>
                      <p>Candidates are also given privileged access to Jobs For Teachers, a national portal for teachers for all kinds of teaching assignments. In essence, what we wish to communicate is that Atheneum is committed to offer you the very best education and the very best access to teaching opportunities.  </p>

                    </div>
                  </v-card>
                </v-tab-item>
              </v-tabs>
              <div class="d-flex justify-center align-center pa-3">
               <nuxt-link to="/enroll"> <v-btn large class="ma-2 themeBtn">
                  ENROLL NOW
                </v-btn></nuxt-link>
              </div>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
      <sliderTestimonialsPrograms/>

    </div>
  </section>
</template>

<script>
import programsLeftPanel from '../../components/programsLeftPanel';
import sliderTestimonialsPrograms from '../../components/sliderTestimonialsPrograms';

export default {
  components: { programsLeftPanel, sliderTestimonialsPrograms},
   head () {
    return {
      title: 'Graduate Diploma in pre-primary Teacher Training Course',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'A Graduate diploma course in pre and primary teacher training helps in understanding core concepts in pre & primary education necessary for a successful teaching career.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/graduate-diploma-in-pre-and-primary-teacher-training/' }
            ]
    }
  },
  data: () => ({

  }),
  methods: {

  },
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
.courseTitle {
  color: $mainColor;
  padding: 1em 0;
  font-size: 1.5em;
}
ul {
  li {
    padding: 0.5em 0;
  }
}
.courseImage {
  max-height: 18em;
}
@media only screen and (max-width: 600px) {
  .courseImage {
    max-height: 7.5em;
  }
}
</style>
