<template>
  <section>
    <div class="container">
      <section class="whyLearn">
        <div class="container">
          <h1 class="sectionTitle">Our simple online college enrollment</h1>
          <p>Affordable tuition, flexible payment options, and a simple admissions process. That’s how we make higher education more accessible than ever.</p>
          <v-row class="d-block d-md-flex">
            <v-col md="4">
              <div class="content">
                <i class="material-icons">event_available</i>
                <p class="title">STEP 1: PROGRAMS</p>
                <p>Find the program that fits your skills, passion, and career goals.</p>
                <nuxt-link to="/programs">
                  <v-btn class="ma-2 themeBtn" tile>View Programs</v-btn>
                </nuxt-link>
              </div>
            </v-col>
            <v-col md="4">
              <div class="content">
                <i class="material-icons">business_center</i>
                <p class="title">STEP 2: ENROLL</p>
                <p>Enroll online. It's easy—and you can do it from anywhere.</p>
                <nuxt-link to="/enroll">
                  <v-btn class="ma-2 themeBtn" tile>Enroll Now</v-btn>
                </nuxt-link>
              </div>
            </v-col>
            <v-col md="4">
              <div class="content">
                <i class="material-icons">supervisor_account</i>
                <p class="title">STEP 3: STUDY</p>
                <p>Complete your program on your schedule, at your own pace.</p>
                <nuxt-link :to="{path:'/why-atheneum/details',query:{query:1}}">
                  <v-btn class="ma-2 themeBtn" tile>Find Out More</v-btn>
                </nuxt-link>
              </div>
            </v-col>
          </v-row>
        </div>
      </section>
      <section class="whyLearn">
        <div class="container">
          <p class="sectionTitle">Are you all set?</p>
          <v-row class="d-block d-md-flex">
            <v-col md="4">
              <div class="content">
                <i class="material-icons">event_available</i>
                <p class="title">REQUIREMENTS</p>
                <p>Do you have the minimum requirements for your program of choice? Let's find out.</p>
              </div>
            </v-col>
            <v-col md="4">
              <div class="content">
                <i class="material-icons">business_center</i>
                <p class="title">SOFTWARE</p>
                <p>You are going to need Microsoft Office and an Internet browser. That's pretty much it.</p>
              </div>
            </v-col>
            <v-col md="4">
              <div class="content">
                <i class="material-icons">supervisor_account</i>
                <p class="title">ORIENTATION</p>
                <p>It's time to get to know us better. Connect with fellow students, faculty, and staff.</p>
              </div>
            </v-col>
          </v-row>
        </div>
      </section>

      <section class="tution">
        <div class="container">
          <v-row align="center" class="d-block d-md-flex">
            <v-col md="4">
              <v-img
                :src="require(`@/assets/image/Why/career.webp`)"
                :lazy-src="require(`@/assets/image/Why/career.webp`)"
                aspect-ratio="1"
                class="grey lighten-2"
                max-width="500"

              ></v-img>
            </v-col>
            <v-col md="8">
              <div class="content py-5 px-2">
                <p class="sectionTitle">Tution</p>
                <p>Our diverse range of career certificate and diploma programs is united by one thing: affordable tuition. Request for our program wise tuition cost and save even more with coupons and referral schemes available widely on social media.</p>
                <v-row>
                  <v-col>
                    <v-text-field label="Enter Email Here" :rules="emailRules" required v-model="email"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Enter Phone Here" type="number" required v-model="phone"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn large class="themeOutlineBtn" tile outlined @click.prevent="submitDetails">Learn More</v-btn>
                  </v-col>
                </v-row>
                <p style="color:red;" v-if="formVerify == true">Please fill up all the fields</p>
                <p style="color:green;" v-if="success == true">Thank you. We will contact you soon!</p>
              </div>
            </v-col>
          </v-row>
        </div>
      </section>

      <section class="faq">
        <div class="container">
          <v-row class="d-block d-md-flex">
            <v-col sm="12" md="5">
              <p class="sectionTitle">Frequently asked questions</p>
              <p>We get it: there are a number of factors to consider before enrolling in an online program. Here’s what other Atheneum College students have wanted to know.</p>
            </v-col>
            <v-col sm="12" md="7">
              <v-expansion-panels accordion class="mb-6">
                <v-expansion-panel v-for="(item,i) in content" :key="i">
                  <v-expansion-panel-header disable-icon-rotate>
                    <p class="expansionTitle">{{item.title}}</p>
                    <template v-slot:actions>
                      <i class="iconPlus material-icons">add</i>
                      <i class="iconMinus material-icons">remove</i>
                    </template>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <div class="pa-3" v-html="item.description"></div>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
          </v-row>
        </div>
      </section>
    </div>
  </section>
</template>
<script>
export default {
  data: () => ({
    formVerify: false,
    success: false,
    email:null,
    phone:null,
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "Provide a valid E-mail address"
    ],
    content: [
      {
        id: 1,
        title: "How do I enroll into Atheneum Global Teacher Training College?",
        description: `Complete our online enrollment application, or call an Admissions Counsellor. You will be asked to pay the tuition fee upfront. Our Admissions Counsellors can walk you through the payment options available to you.`
      },
      {
        id: 2,
        title: "Can I enroll if I live outside India?",
        description: `Yes. Atheneum Global welcomes students from around the world. Online education makes perfect sense wherever you live.`
      },
      {
        id: 3,
        title: "Is there a deadline for enrollment?",
        description: `No. You may enroll online 24/7 and begin your studies immediately, or when and where it’s convenient for you. Flexibility is key to our students’ success.`
      }
    ]
  }),
  methods:{
   submitDetails(){
     if(this.email == null || this.phone == null){
          this.formVerify = true;
          return;
        }else{
            this.formVerify = false;
            let formData = new FormData();
            formData.append('formName', 'AtheneumContact');
            formData.append('Email', this.email);
            formData.append('Phone', this.phone);
            formData.append('MessageDetails', "Generated from admission contact form");
            fetch('https://api.teenybeans.in/API/contactFormProcessor/v1/', {
              method: 'POST',
              body: formData
            })
            .then(res => res.json())
            .then(json =>  {
              this.success = true;
              this.name = null;
              this.email = null;
              console.log(json);
              }
            );
        }
   }
} 
};

</script>
<style lang="scss" scoped>
.whyLearn {
  text-align: center;
  padding: 3em 0;

  .content {
    text-align: center;
    padding: 1em;

    .title {
      font-size: 1.5em;
      padding: 0;
      font-weight: bold;
    }
    .material-icons {
      font-size: 70px !important;
      color: $mainColor;
    }
  }
}
</style>
