
* {
  font-family: "Noto Serif", serif;
}
.v-card {
  background-color: #fafafa !important;
  box-shadow: none !important;
}
body{
  overflow-x: hidden!important;
}
// .v-image{
//   height: unset!important;
// }
 
// .courseImage {
//   max-height: 18em!important;
// }
@media only screen and (max-width: 600px) {
  .v-image{
    height: unset!important;
  }
  .v-carousel{
    height: unset!important;
  }
}

a {
  // color: unset!important;
  text-decoration: none !important;
}
.headerbg {
  background: #f0f8ff5e;
  height: 100%;

  .themeHeader {
    font-size: 2.5rem;
    font-weight: 600;
    color: #9c2e38 !important;
    line-height: 1;
    padding: 2em 10em 1em 1em;
  }
}
.banner {
  background: #faebd76b;
}
.flexCC {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.themeBtn {
  background: $mainColor;
  color: white !important;
}
.themeOutlineBtn {
  color: $mainColor;
}
.sectionTitle {
  font-size: 1.8em;
  font-weight: 600;
}
.themeLine {
  width: 6em;
  border: 3px solid $mainColor;
  margin: auto;
  margin: 1em auto 1.5em;
}
.v-tab {
  justify-content: left !important;
}
.v-tab--active {
  background: #9c2e38;
  color: white !important;
  border: 0px solid white;
}
.v-tabs-slider {
  background: none !important;
}
.v-expansion-panels {
  width: 100% !important;
  z-index: unset !important;
  background: #fafafa;

  .iconPlus {
    color: #9c2e38;
    padding: 0 0.5em 0 0;
  }
  .iconMinus {
    color: #9c2e38;
    padding: 0 0.5em 0 0;
  }

  .v-expansion-panel-header {
    text-transform:none !important;
    background: #fafafa;
    color: #9c2e38;
    font-weight: bold;
    flex-direction: row-reverse;
    width: 100%;

    .expansionTitle {
      margin: 0;
      // min-width: 51.5em;
    }

    .iconMinus {
      display: none;
    }
    .iconPlus {
      display: block;
    }
  }
  .v-expansion-panel-header--active {
    color: #9c2e38 !important;
    .iconMinus {
      display: block !important;
    }
    .iconPlus {
      display: none !important;
    }
  }
  .v-expansion-panel-content__wrap {
    background: #fafafa;
  }
}
// .v-expansion-panel--active{
//     background:#9c2e38!important;
//     color:white!important;
// }

.headTitleContainer {
  background: $mainColor;
  color: white;
  padding: 1em;

  h2 {
    font-size: 2em !important;
  }
  h1 {
    font-size: 2em !important;
  }
}
.material-icons {
  vertical-align: bottom !important;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 5px !important;
  }
  .headTitleContainer {
    h2 {
      font-size: 1.5em !important;
    }
    h1 {
      font-size: 1.5em !important;
    }
  }

  .sectionTitle {
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
  }
  .v-tab {
    font-size: 0.7rem;
  }
  .v-tabs--vertical {
    flex-direction: column !important;
  }
  .v-tabs--vertical > .v-tabs-bar .v-tabs-bar__content {
    flex-direction: row !important;
    margin-bottom: 1em;
  }
}


