<template>
    <section>
        <h1 class="sectionTitle">Our Accreditations and Memberships</h1>
        <v-expansion-panels accordion class="mb-6">
            <v-expansion-panel
                v-for="(item,i) in accreditation"
                :key="i"
            >
              <v-expansion-panel-header disable-icon-rotate>
                <p class="expansionTitle">{{item.title}}</p>
                <template v-slot:actions>
                  <i class="iconPlus material-icons">add</i>
                  <i class="iconMinus material-icons">remove</i>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="pa-3" v-html="item.description"></div>
              </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </section>
</template>

<script>
export default {
  data:()=>{
    return {
        accreditation:[
            {
                id:1,
                title: 'ISO 9001:2015 Certified',
                description: `
                <p>  AGTTC is one of the few training and development organizations for teachers that is an ISO certified authorized teacher training solution provider in the space of pre and primary education in Asia.  </p>
                <p> An ISO International Standard represents a global consensus on the state of the art in the subject of that standard. So for every prospective student, an ISO certification represents, more than anything else, the institutions commitment to benchmark it’s product or services against a global standard. It is a recognition of the high standards adopted by the institution that lends a lot of credibility to the institutions value proposition.</p>
                `
            },
            {
                id:2,
                title: 'Recognized Member of International Montessori Council (IMC) USA.',
                description: `
                <p>  The International Montessori Council (IMC) is a professional association designed to provide specific services and support to Montessori educators and schools. Its mission is to protect the vision and legacy of Dr. Maria Montessori and the Montessori Foundation by making policy designed to promote the essential principles of best practices and authentic Montessori education. AGTTC is proudly associated with the IMC to take Montessori principles and the methodology far and wide.</p>
                `
            },
            {
                id:3,
                title: 'Recognized Member of International Montessori Society (IMS) USA.',
                description: `
                <p>  IMS recognizes Montessori institution based on their commitment and practice to follow laws of nature with children as set forth in specific recognition criteria. IMS seeks to maintain and support this commitment through workshops, teacher education, and consultation services to assure the highest quality of program operation possible.</p>
                `
            },
            {
                id:4,
                title: 'Chartered College Of Teaching, UK.',
                description: `
                <p>  AGTTC is an institutional member of The College of Teachers and abides by its Code of Professional Practice.</p>
                <p>  The Chartered College of Teaching, is the recognized professional body for the teaching profession in the UK. The college was founded in 1846 and incorporated by royal charter as The College of Preceptors in 1849.A supplemental charter was granted in 1998 changing the College's name to The College of Teachers. A further supplemental charter granted in 2017 changed the college's name to The Chartered College of Teaching, updated its objects and gave it the right to award the professional status of Chartered Teacher (CTeach). The college's Patron is The Prince Philip, Duke of Edinburgh.</p>
                `
            },
            {
                id:5,
                title: 'LONDON TEACHER TRAINING COLLEGE',
                description: `
                <p>  AGTTC is an institutional member of London Teacher Training College. Based in South London, the London Teacher Training College was established in 1984 and has over the years trained a vast number of teachers from around the world. The college prides itself on the quality of its courses and the individual attention it provides every student who enrols.</p>
                <p>  There are only a 100 partner schools worldwide which offer LTTC teacher training programmes.</p>
                `
            },

        ],
    }
  }
}
</script>
