<template>
    <section>
        <h1>A certificate, graduate diploma or post graduate diploma from Atheneum Global Teacher Training College prepares you for a rewarding teaching career in India and abroad. Here are some of the reasons why </h1>
    <br>
        <v-expansion-panels accordion class="mb-">
            <v-expansion-panel
                v-for="(item,i) in content"
                :key="i"
            >
              <v-expansion-panel-header disable-icon-rotate>
                <p class="expansionTitle">{{item.title}}</p>
                <template v-slot:actions>
                  <i class="iconPlus material-icons">add</i>
                  <i class="iconMinus material-icons">remove</i>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="pa-3" v-html="item.description"></div>
              </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

    </section>
</template>
<script>
export default {
    // name: AppGlobal,
    data: ()=>({
        content :[
            {
                id:1,
                title: 'National & International Partners/Memberships',
                description: `
                <p>Accreditation is a process which plays a vital role for an educational institution as it ensures that the education provided by the institution meets the satisfactory levels of quality. It is being seen as a quality control of the courses which are being continually reviewed by external bodies.</p>
                <p>Accreditation is the primary thing which strikes a chord with an understudy who is anxious to take up any course be it at a national or a global level. It is the most critical factor behind the acknowledgment and approval of any course with a course provider. It isn't just the worry of each potential student as we have gone to get all the conceivable help from the leading bodies related to teaching globally.</p>
                <p>Atheneum Global Teacher Training College, the foremost brand in global teacher training always ensures that the students enrolling in the courses should have access to the high quality training as well as enhanced employment opportunities. We are proud to be a member of several esteemed professional bodies and are accredited by distinguished organizations.</p>
                `
            },
            {
                id:2,
                title: 'Academics ',
                description: `
                <p>The courses have been created by an eclectic mix of researchers, scholars, industry veterans and experts in the field of pre and primary education. They are practical oriented and ratified by industry experts. Our graduates are carefully tutored by our academic team on various aspects of teacher training over the several months of our association.</p>
                <p>Theory classes are a breeze as concepts are introduced through videos and practical demonstrations that makes classes interesting and learning enriched.</p>
                <p>Our teacher training certifications as well as graduate and post graduate diplomas are treated no differently, with our dedicated trainers spending enough time on tutoring and counselling students through our outreach portal. Besides this, our students also have access to a wealth of online resources carefully curated by Atheneum Global Teacher Training College as part of an online library which can be referred to, to enrich ones learnings.</p>`
            },
            {
                id:1,
                title: 'Placements',
                description: `
                <p>Atheneum Global Teacher Training College is working round the clock to add select partners to the list of the meritorious institutes who are working along with Atheneum to bridge the skill deficit existing in today’s world. We are presently located in two continents graduating more than a 1000 graduates every year. By the year 2025, our partnership development team would ensure our presence across 4 continents and grow our partner affiliations to more than a 1000 world class institutes.</p>
                <p>Today, through our partner network, we are able to place all our graduate students immediately upon completion of their teacher training course. With the exponential growth of quality high schools (CBSE, ICSE as well as international schools) in India and abroad, getting an assured placement in a school of choice has become far easier for quality trained graduates. Atheneum Graduates enjoy the benefit of our industry connect and the leverage of international accreditations that assure prospective employers of the quality of the course and the value of the credentials.</p>`
            },
            {
                id:1,
                title: 'Jobs For Teachers',
                description: `India’s first and only online job portal for graduates for teaching jobs is Atheneums placement partner for students looking to get placed in schools of their choice. All students enrolling into any of Atheneums graduate or post graduate programs would be eligible for a free access to the portal for a year. `
            },
        ]
    })
}
</script>
<style lang="scss" scoped>

</style>
