<template>
    <section>
        <div class="container">
            <h1 class="sectionTitle">Our grads give their Atheneum College reviews</h1>
            <section class="slider">
                <v-carousel
                    cycle
                    height="100%"
                    hide-delimiter-background
                    show-arrows-on-hover
                    >
                    <v-carousel-item v-for="(testimonial,i) in testimonials" :key=i>
                        <v-row>
                            <!-- <v-col cols="12" sm="12" md="4">
                                <v-img
                                class="white--text align-end"
                                height="300px"
                                contain
                                :src="require(`@/assets/image/programs/${testimonial.image}`)"
                                >
                                </v-img>
                            </v-col> -->
                            <v-col cols="12" sm="12" md="12" style="text-align:center;">
                                <div class="sliderContent pa-1">
                                <!-- <p class="title" style="text-align:center;">{{testimonial.category}}</p> -->
                                <h2>{{testimonial.author}}</h2><br>
                                <p>{{testimonial.description}}</p>
                                </div>
                            </v-col>
                        </v-row>
                    </v-carousel-item>

                </v-carousel>
            </section>
        </div>



    </section>
</template>
<script>
export default {

    data:()=>{
         return {
              testimonials: [
        {
          id: 1,
          image: "01.webp",
          category: "POST GRADUATE DIPLOM",
          author: "Amrita Mukherjee",
          description:
            "I had a great time in the online teaching method and the classes. Personal trainer experience as part of the course was very helpful."
        },
        {
          id: 2,
          image: "MONTESSORI-EDUCATION.png",
          category: "CERTIFICATE COURSE",
          author: "Moumita Biswas",
          description:
            "I am satisfied with the program conducted at the Atheneum Online Learning Platform. Thanks to my academic advisor who guided me throughout the tenure of the course."
        },
        {
          id: 3,
          image: "02.webp",
          category: "POST GRADUATE DIPLOMA",
          author: "Rima Mallick",
          description:
            "I am very happy with my experience with AGTTC. Their online platform gave me the comfort I was looking for and a very well structured curriculum enabled me to carve my future as a Montessori teacher."
        },
        {
          id: 4,
          image: "05.webp",
          category: "GRADUATE DIPLOMA",
          author: "Pooja Jaiswal",
          description:
            "I am satisfied with the training delivered by the personal academic trainer. The training methodology and audiovisual support for the topics covered made the learning process easier and structured."
        },
        {
          id: 5,
          image: "MONTESSORI-EDUCATION-PG.png",
          category: "POST GRADUATE DIPLOMA",
          author: "Srijata Gupta",
          description:
            "I rate the training program as perfect. Thanks for the systematic approach undertaken for the program delivery."
        },
        {
          id: 6,
          image: "MONTESSORI-EDUCATION-PG.png",
          category: "POST GRADUATE DIPLOMA",
          author: "Tripa Ray",
          description:
            "I am proud to pass out from this global institute. The training material was easy to follow and very relevant. The overall course structure was very good."
        },
        {
          id: 5,
          image: "MONTESSORI-EDUCATION-PG.png",
          category: "POST GRADUATE DIPLOMA",
          author: "Payal Kasat",
          description:
            "Thanks to Atheneum for helping me become a teacher. The Audio Visual learning style and engagement with the personal trainer was helpful."
        }

      ]
         }
    }
}
</script>
<style lang="scss" scoped>

</style>
