<template>
    <section>
        <h1 class="sectionTitle">Our Mission</h1>
        <p>
        In alignment to our corporate mission statement of educating 10 million young learners by year 2030, Atheneum’s Mission is – 
        <br> 
        “ To create a legion of a million educators by year 2030 who are committed to the profession and continue to contribute to societal change through education.”</p>
        <br>
        <p class="sectionTitle">Objective</p>
        <p>To become South East Asia’s leading learning & development organization focused on pre and primary education by year 2025.   </p>
    </section>
</template>
<script>
export default {
    
}
</script>

<style lang="scss" scoped>

</style>