<template>
    <section>
        <h1 class="sectionTitle">Discover the benefits of earning a teacher training diploma online </h1>
        <p>You may already be aware of some of the benefits of online education. For instance, online programs are typically more convenient than their on-campus equivalents. There is never any travel required, and you can study at any time of the day that works for you.</p>
        <p>You will benefit from that level of flexibility and more at Atheneum Global Teacher Training College. With no scheduled classes or exams, no due dates, and no group projects, we work with even the most complicated of schedules. So what else really sets us apart from other online schools? Explore our online learning experience to find out.</p>
        <v-expansion-panels accordion class="mb-6">
            <v-expansion-panel
                v-for="(item,i) in accreditation"
                :key="i"
            >
              <v-expansion-panel-header disable-icon-rotate>
                <p class="expansionTitle">{{item.title}}</p>
                <template v-slot:actions>
                  <i class="iconPlus material-icons">add</i>
                  <i class="iconMinus material-icons">remove</i>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="pa-3" v-html="item.description"></div>
              </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </section>
</template>

<script>
export default {
  data:()=>{
    return {
        accreditation:[
            {
                id:1,
                title: 'Enroll any day of the year',
                description: `
                <p>   If you want to enroll today, you can. If you would prefer to wait until after you finish that project at work—or take that well-earned vacation with the kids—that's fine too. We accept new enrollments every day of the year.</p>
                `
            },
            {
                id:2,
                title: 'Start learning right away',
                description: `
                <p> Start your first lesson the day you enroll. All you have to do is log in to your Student Portal from any computer. This is where you access lessons, upload assignments, take exams, check your grades and account status, and request support. </p>
                `
            },
            {
                id:3,
                title: 'Progress at your own pace',
                description: `
                <p>Your custom study guides are designed to help you advance quickly through each course. You will explore key concepts in supplied textbooks, e-books, and other key learning materials, and then enhance your understanding through review exercises and practice questions. Master each lesson and move on to the next without delay. </p>
                `
            },
            {
                id:4,
                title: 'Take exams online',
                description: `
                <p>   Take the practice test first to check your knowledge, and then wrap up each lesson with an open-book, open-notes online exam. Grades are immediately posted in your Student Portal. Degree programs conclude with a final proctored exam.</p>
                `
            },
            {
                id:5,
                title: 'Get the support you need throughout',
                description: `
                <p>  Learning online doesn't mean learning alone. From the day you enroll, our Academic Advisors provide personal tutoring and our Student Services team handles administrative concerns for you. After that, personalized career guidance awaits to help you seize your new opportunities.</p>
                `
            },

        ],
    }
  }
}
</script>
