<template>
  <section>
    <h1 class="sectionTitle">What is Atheneum College student life really like?</h1>
    <p>There's a common misconception that learning online means learning alone. But it simply isn't true—not at Atheneum College, anyway. As soon as you enroll with us, you join a vibrant community of students, grads, faculty, and staff. We're all passionate about learning, collaborating, and helping you achieve your educational goals.</p>
    <v-row align="center">
      <v-col md="6" sm="12">
        <!-- <img
          src="/images/Why/online.webp"
          class="grey lighten-2 responsive"
          width="500"
          height="300"
          alt="What is Atheneum College student life really like?"
        /> -->
        <v-img
            src="/images/Why/online.webp"
            lazy-src="/images/Why/online.webp"
            aspect-ratio="1"
            class="grey lighten-2"
            max-width="500"
            max-height="250"
            alt="What is Atheneum College student life really like?"
        ></v-img>
      </v-col>
      <v-col md="6" sm="12">
        <div class="content">
          <h2>The support you need</h2>
          <p>Our Academic Advisors are always on hand to provide guidance, tutoring, and advice. This is hands-on support that makes a difference, and it's available wherever and whenever you need it.</p>
          <v-btn large class="ma-2 themeBtn" tile dark>ONLINE LEARNING</v-btn>
        </div>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col md="6">
        <div class="content">
          <h2>The knowledge to succeed</h2>
          <p>Sometimes you need a little extra help to seize new opportunities and stand out from the crowd—especially in competitive job markets. Atheneum College students and grads have unlimited access to our online Career Services.</p>
          <v-btn large class="ma-2 themeBtn" tile dark>CAREER SERVICES</v-btn>
        </div>
      </v-col>
      <v-col md="6">
        <!-- <img
          src="/images/Why/career.webp"
          class="grey lighten-2"
          aspect-ratio="1"
          width="500"
          height="300"
          alt="The knowledge to succeed"
        />-->
        <v-img
          src="/images/Why/career.webp"
          lazy-src="/images/Why/career.webp"
          aspect-ratio="1"
          class="grey lighten-2"
          max-width="500"
          max-height="250"
          alt="The knowledge to succeed"
        ></v-img>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col md="6">
        <!-- <img
          src="/images/Why/return.webp"
          class="grey lighten-2"
          aspect-ratio="1"
          width="auto"
          height="300"
          alt="Returning students"
        />-->
        <v-img
          src="/images/Why/return.webp"
          lazy-src="/images/Why/return.webp"
          aspect-ratio="1"
          class="grey lighten-2"
          max-width="500"
          max-height="250"
          alt="Returning students"
        ></v-img>
      </v-col>
      <v-col md="6">
        <div class="content">
          <h2>Returning students</h2>
          <p>As a returning student, you are part of this notable group—and you are entitled to exclusive perks. For instance, you may be eligible for our Alumni Rewards Discount, when you enroll in your next Atheneum College program.</p>
          <v-btn large class="ma-2 themeBtn" tile dark>RETURNING STUDENTS</v-btn>
        </div>
      </v-col>
    </v-row>
  </section>
</template>
<style>
.responsive {
  max-width: 100%;
  height: 250;
}
</style>