<template>
  <section>
    <v-carousel cycle hide-delimiter-background show-arrows-on-hover>
      <v-carousel-item v-for="(slide, i) in slides" :src="'/images/banner/home/'+slide.src" :key="i">
        <!-- <v-container fill-height>
          <v-layout align-center>
             <div class="bg-overlay">
               <v-flex>
                  <h2 class="display-3">{{ slide.title }}</h2>
                  <p class="subheading">{{ slide.text }}</p>
                </v-flex>
             </div>

          </v-layout>
        </v-container> -->
        </v-carousel-item>
    </v-carousel>
  </section>
</template>
<script>
export default {
  name: "AppBanner",

  data: () => {
    return {
      slides: [
        {
          id: 1,
          src: "home1.jpeg",
          title: "Recognized Global Qualifications for an International Teaching Career",
          text: "Tap into Atheneum's Global Network of teaching professionals in UK, USA, Middle East, Africa, and Asia. Become an Atheneum Graduate and start your teaching career with confidence."
        },
        {
          id: 3,
          src: "home2.jpeg",
          title: "Pursue Regulated UK Teaching Qualifications - 100% Online",
          text: "Choose from Atheneum's vast array of recognized qualifications targeting teaching careers in USA, UK, India and South East Asia."
        },
        {
          id: 5,
          src: "home3.jpeg",
          title: "International Graduate & Post Graduate Teacher Training Programs",
          text: "Career defining qualifications is now available fully online with the option of blended in-class learning across global learning centres at partner locations across the world."
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss">
.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: " ";
    z-index: 0;
    background: rgba(0, 0, 0, 0.59);
    opacity: 1;
    padding: 0 10%;
}

h2 {
    text-align: center;
    color: #fff;
    margin-top: 4rem;
    margin-bottom: 2rem;
    z-index: 2;
}
p {
    text-align: center;
    color: #fff;
}
</style>
