<template>
  <section class="py-10">
    <div class="container">
      <v-row>
        <v-col cols="12" md="4">
          <v-card>
            <v-img
              class="white--text align-end"
              height="180px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            ></v-img>

            <v-card-subtitle class="pb-0">Career</v-card-subtitle>

            <v-card-text class="text--primary">
              <v-card-title class="px-0">How Do I Become a Paralegal?</v-card-title>

              <p>To become a paralegal you must receive formal education and training. Although it’s not required, employers may also prefer candidates who have also completed a certificate program. If you have an ...</p>
              <nuxt-link to="blog/BlogPostTitle"> Continue Reading </nuxt-link>
            </v-card-text>


          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card>
            <v-img
              class="white--text align-end"
              height="180px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            ></v-img>

            <v-card-subtitle class="pb-0">Career</v-card-subtitle>

            <v-card-text class="text--primary">
              <v-card-title class="px-0">How Do I Become a Paralegal?</v-card-title>

              <p>To become a paralegal you must receive formal education and training. Although it’s not required, employers may also prefer candidates who have also completed a certificate program. If you have an ...</p>
              <nuxt-link to="blog/BlogPostTitle"> Continue Reading </nuxt-link>
            </v-card-text>


          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card>
            <v-img
              class="white--text align-end"
              height="180px"
              src="https://www.ashworthcollege.edu/media/zoo/images/how-do-you-become-a-payroll-clerk_1bce28d01771595c915c31e19eb62692.jpg"
            ></v-img>

            <v-card-subtitle class="pb-0">Career</v-card-subtitle>

            <v-card-text class="text--primary">
              <v-card-title class="px-0">How Do You Become Payroll?</v-card-title>

              <p>To become a paralegal you must receive formal education and training. Although it’s not required, employers may also prefer candidates who have also completed a certificate program. If you have an ...</p>
              <nuxt-link to="blog/BlogPostTitle"> Continue Reading </nuxt-link>
            </v-card-text>


          </v-card>
        </v-col>
      </v-row>
    </div>
  </section>
</template>
<style scoped lang="scss">
section{
  background: #f7f7f7;
}
.v-card{
  border-bottom: 4px solid $mainColor;
}

</style>
