<template>
  <section>
    <div class="container">
      <section></section>
      <section class="whyLearn">
        <h1 class="sectionTitle">Why Atheneum College?</h1>
        <p>We're in the business of breaking down barriers. Find out how we make practical, career-focused learning more accessible than ever before.</p>
        <v-row>
          <v-col>

            <client-only>
              <carousel
              :navigationEnabled="true"
              :autoplay="true"
              :perPageCustom="[[100, 1], [1024, 3]]"
              >
              <slide>
                <div class="content">
                  <i class="material-icons">monetization_on</i>
                  <p class="title">AFFORDABLE</p>
                  <p
                    class="px-4 px-md-0"
                  >No hefty federal student loans. Our programs are among the most affordable of their kind.</p>
                </div>
              </slide>
              <slide>
                <div class="content">
                  <i class="material-icons">360</i>
                  <p class="title">FLEXIBLE</p>
                  <p>Fit study around your busy life. Learn anytime, anywhere with our online classroom.</p>
                </div>
              </slide>
              <slide>
                <div class="content">
                  <i class="material-icons">redeem</i>
                  <p class="title">ACCREDITED</p>
                  <p>It's official—we strive for and hold ourselves to the highest standards in education.</p>
                </div>
              </slide>
            </carousel>
            </client-only>
          </v-col>
        </v-row>
      </section>

      <section class="acceleration">
        <h2 class="sectionTitle">Accreditation and partners</h2>
        <p
          class="description"
        >At Atheneum College, we're committed to achieving the very highest standards in distance learning, school performance, and student results.</p>
        <nuxt-link :to="{path:'/why-atheneum/details/'}">
          <v-btn large class="ma-2 themeOutlineBtn" tile outlined>OUR ACCREDITATION</v-btn>
        </nuxt-link>
        <nuxt-link :to="{path:'/partnership'}">
          <v-btn large class="ma-2 themeOutlineBtn" tile outlined>PARTNERSHIP OPPORTUNITY</v-btn>
        </nuxt-link>
      </section>

      <section class="realOutcome">
        <p class="sectionTitle">
          Achievable success,
          <span class="rotext">real outcomes</span>
        </p>
        <h3>Just ask our students</h3>
        <v-row>
          <v-col md="3" offset-md="1">
            <div class="content">
              <p class="count">
                <animated-number :value="value1" :formatValue="formatToPrice" :duration="5000" />
              </p>
              <p class="title">Achieved their goals</p>
            </div>
          </v-col>

          <v-col md="4">
            <div class="content">
              <p class="count">
                <animated-number :value="value2" :formatValue="formatToPrice" :duration="5000" />
              </p>
              <p class="title">Recommend to a friend</p>
            </div>
          </v-col>

          <v-col md="3">
            <div class="content">
              <p class="count">
                <animated-number :value="value3" :formatValue="formatToPrice" :duration="5000" />
              </p>
              <p class="title">Student satisfaction</p>
            </div>
          </v-col>
        </v-row>
        <i>Average percentages responding "yes" to the 20 most popular career and degree programs in a 2017 Student & Graduate survey.</i>
      </section>

      <section class="slider">
        <h1 class="sectionTitle text-center">Atheneum College Online Courses </h1>
        <v-carousel cycle height="100%" width="100%" hide-delimiter-background show-arrows-on-hover>
          <v-carousel-item v-for="(testimonial,i) in testimonials" :key="i">
            <v-row>
              <v-col cols="12" sm="12" md="6" style="text-align:center;">
                <img
                  :src="'/images/programs/'+testimonial.image"
                  class="white--text align-end"
                  height="300px"
                  :alt="testimonial.alt"
                />
                <!-- <v-img
                  class="white--text align-end"
                  height="300px"
                  :src="require(`@/assets/image/programs/${testimonial.image}`)"
                  contain
                ></v-img> -->
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <div class="sliderContent pa-2">
                  <p class="title">{{testimonial.category}}</p>
                  <h2>{{testimonial.title}}</h2>
                  <p>{{testimonial.description}}</p>
                </div>
              </v-col>
            </v-row>
          </v-carousel-item>
        </v-carousel>
      </section>
    </div>
  </section>
</template>

<script>
import AnimatedNumber from "animated-number-vue";
// import { Carousel, Slide } from 'vue-carousel';

export default {
  components: {
    AnimatedNumber,
    // Carousel,
    // Slide
  },

  methods: {
    formatToPrice(value) {
      return `${value.toFixed(0)}%`;
    }
  },
  data: () => {
    return {
      value1: 96,
      value2: 95,
      value3: 96,
      testimonials: [
        {
          id: 1,
          image: "01.webp",
          category: "POST GRADUATE DIPLOMA",
          title: "PRE & PRIMARY TEACHER TRAINING",
          alt: "PRE & PRIMARY TEACHER TRAINING",
          description:
            "The PG Diploma in Pre & Primary Teacher Training (PPTT) is the appropriate course available to students who are seeking to fulfill the requirements of a pre and primary teacher. The course adopts curriculum guidance from the National Curriculum Framework guidance provided by the Ministry of Women and Child Development and equips course participants with the knowledge and confidence to be expert practitioners in schools and preschools of their choice."
        },
        {
          id: 2,
          image: "MONTESSORI-EDUCATION.png",
          category: "CERTIFICATE COURSE",
          title: "MONTESSORI EDUCATION",
          alt:"MONTESSORI EDUCATION",
          description:
            "The Certificate Program in Montessori Teacher Training educates students about the core ideas of Dr. Maria Montessori and equips students to become effective Montessorians looking to start a career as a Montessori educator. The Certificate Program in Montessori Education prepares educators on the internationally acclaimed Montessori Method in an educational setting."
        },
        {
          id: 3,
          image: "02.webp",
          category: "POST GRADUATE DIPLOMA",
          title: "EARLY CHILDHOOD CARE & EDUCATION",
          alt: "EARLY CHILDHOOD CARE & EDUCATION",
          description:
            "The post graduate diploma in early childhood care and education prepares teachers for a global career in an early learning setting – a preschool, high school or even in a homeschooling set up. It has the right blend of discussion on international structural educational frameworks while incorporating localized practical learnings into the curriculum."
        },
        {
          id: 4,
          image: "05.webp",
          category: "GRADUATE DIPLOMA",
          title: "NURSERY TEACHER TRAINING",
          alt: "NURSERY TEACHER TRAINING",
          description:
            "The Graduate Diploma in Nursery Teacher Training is the ideal program for aspirants who want to teach in the nursery and pre-primary sections of high schools in India. The core course has been framed within the guidelines mandated by the National Council of Educational Research and Training (NCERT) and prepares teachers at the national level for the rigors of teaching in a nursery setting."
        },
        {
          id: 5,
          image: "MONTESSORI-EDUCATION-PG.png",
          category: "POST GRADUATE DIPLOMA",
          title: "MONTESSORI EDUCATION",
          alt:"MONTESSORI EDUCATION",
          description:
            "The Program Post Graduate Diploma in Montessori Education (PGDME) prepares trained educators on the highest concepts and practicalities surrounding the internationally acclaimed Montessori Method in an educational setting. The Program targets at developing crucial competencies, abilities and values needed for powerful faculty leadership and management. The program focuses on having world class effective school leaders. PGDME is unique, scientific and innovative child-centered educational and management program based on the philosophy of Dr. Maria Montessori."
        }

      ]
    };
  }
};
</script>
<style lang="scss">
.slider {
  padding: 1em 0;
}
.whyLearn {
  text-align: center;
  padding: 3em 0;

  .content {
    text-align: center;
    padding: 1em;

    .title {
      font-size: 1.5em !important;
      padding: 0;
      font-weight: bold;
      color: $mainColor;
      margin: 0.5em;
    }
    .material-icons {
      font-size: 70px !important;
      color: $mainColor;
    }
  }
}

.realOutcome {
  text-align: center;
  background: #f2f6f9;
  margin: 1em 0;
  padding: 3em 0;
  .rotext {
    color: $mainColor;
  }
  .content {
    .count {
      font-size: 4em;
      font-weight: bold;
      color: $mainColor;
      margin: 0;
    }
  }
}

.acceleration {
  text-align: center;
  padding: 2em;
  .description {
    padding: 0 10em;
  }
}
@media only screen and (max-width: 786px) {
  .acceleration .description {
    padding: 0;
  }

  .realOutcome {
    .title {
      font-size: 1rem !important;
      font-weight: 500;
      line-height: 1.5rem;
    }
  }
  .realOutcome .content .count {
    font-size: 2.5em;
  }
}
</style>
