<template>
  <section>
    <AppBanner />
    <AppFeatured />
    <AppProgramsList />
  </section>
</template>
<script>
import AppBanner from "../../components/Our-Programs/AppBanner";
import AppFeatured from "../../components/AppFeatured";
import AppProgramsList from "../../components/Our-Programs/AppProgramsList";

export default {
  components: {
    AppBanner,
    AppFeatured,
    AppProgramsList
  },
  head() {
    return {
      title: "Programs - Atheneum College",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "We are in the business of breaking down barriers. Find out how we make practical, career-focused learning more accessible than ever before."
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/programs/' }
            ]
    };
  }
};
</script>
<style lang="scss" scoped>
</style>
