<template>
  <section>
    <div class="container">
      <div class="featuredDiv">
          <div class="d-none d-md-block">
            <i class="material-icons"> offline_bolt</i>
            Featured Offer
          </div>
          <div class="offer" style="font-size:20px;">
            EARN REFERRAL BENEFITS / SAVE UPTO 50% - EXPIRES 31/07/2020 
          </div>
          <div class="my-2">
            <nuxt-link to="/featured">
              <v-btn text large style="color:white;" >
                View Details <i class="material-icons">keyboard_arrow_right</i>
              </v-btn>
            </nuxt-link>
          </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>
.featuredDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $mainColor;
  color: white;
  padding: 0.2em 1em;
  font-size: x-large;
  font-weight: bold;
}
@media only screen and (max-width: 600px){
  .featuredDiv{
    flex-direction: column;
  }
  .offer{
    text-align: center;
    font-size: 20px;
  }
}
</style>
