<template>
    <section class="footer">
        <div class="container">
            <v-row align="center">
                <v-col md="6">
                    <div class="logo">
                        <img :src="require(`@/assets/image/footer-brand.jpg`)" alt="Logo">
                    </div>
                </v-col>
                <v-col md="6">
                    <ul class="link">
                        <nuxt-link to="/programs/"> <li>Programs</li></nuxt-link>
                        <nuxt-link to="/admission/"> <li>Admision</li> </nuxt-link>
                        <nuxt-link to="/faq/"> <li>Faq</li> </nuxt-link>
                        <nuxt-link to="/blog"> <li>Blog</li> </nuxt-link>
                        <nuxt-link to="/contact/"> <li>Contact Us</li> </nuxt-link>
                    </ul>
                </v-col>
            </v-row>
            <hr>
            <v-row>
                <v-col cols="12" md="4" class="pa-md-5">

                    <p> DE 2B VIP Road. Kolkata 59. West Bengal. India.</p>
                    <p> © 2019 Atheneum College. All Rights Reserved.</p>
                    <p><a href="https://drive.google.com/file/d/1n8Lc5-OIXZHZjVBdy_EoUNJI52e9e0oF/view?usp=sharing" style="color:#ffffff;" download>Terms & Conditions</a></p>

                </v-col>
                <v-col cols="12" md="4">
                  <p class="small text-center pb-4">CONNECT WITH US</p>
                  <ul class="socialIcon">
                    <li>
                      <a href="https://www.facebook.com/AtheneumGlobalTeacherTrainingCollege/"><img :src="require(`@/assets/image/social/fb.svg`)" height="30"></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/atheneum.global/"><img :src="require(`@/assets/image/social/insta.svg`)" height="30" style="border-radius:50%"></a>
                    </li>
                    <li>
                      <a href="https://twitter.com/atheneum_global"><img :src="require(`@/assets/image/social/tw.svg`)" height="30"></a>
                    </li>
                    <!-- <li>
                      <img :src="require(`@/assets/image/social/yt.svg`)" height="30">
                    </li> -->
                  </ul>
                </v-col>

                <v-col cols="12" md="4" class="pa-md-5">

                    <p> <i> Refer to Academic Catalog for financial terms and conditions including interest and annual percentage rates.</i> </p>


                </v-col>
            </v-row>
        </div>
    </section>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>
.footer{
    padding: 2em;
    background: #282828;
    color: white;

    .logo{
        img{
            height: 10em;
        }
    }
    ul.link{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        list-style: none;
        color:white;
        font-size: small;
        a{
            padding: 0.3em 0;
        }

    }
    ul>li{
        cursor: pointer;
    }
    .socialIcon{
      display: flex;
      justify-content: center;
      list-style: none;

      li{
        margin: 0 0.5em;
      }
    }
}
@media only screen and (max-width: 600px){
 ul.link{
     flex-direction: column;
 }
}
</style>
