<template>
  <section>
    <div class="topHeader d-none d-md-block">
      <div class="container pa-0">
        <ul>
          <li>
            <nuxt-link to="/blog">Blog</nuxt-link>
          </li>
          <li>
            <a href="https://user.atheneumglobal.education/signUp">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container pa-0">
      <div class="header flexCC pb-2">
        <div class="logo d-none d-md-block">
          <nuxt-link to="/">
            <img src="/logo.jpeg" alt="Atheneum Global Teacher Training College Logo">
          </nuxt-link>
        </div>
        <div class="mobileMenu d-md-none">
          <div class="logo">
            <nuxt-link to="/">
              <img src="/logo.jpeg" alt="Atheneum Global Teacher Training College Logo">
            </nuxt-link>
          </div>
          <i class="material-icons menuIcon">phone</i>
          <i class="material-icons menuIcon" @click="sheet = !sheet">menu</i>
          <!-- <i class="material-icons"  @click="overlay = !overlay">menu</i> -->
        </div>
        <div class="action">
          <v-btn class="ma-md-2 themeBtn" tile dark>
            <nuxt-link to="/request-info" style="color:#fff;">REQUEST INFO</nuxt-link>
          </v-btn>
          <v-btn class="ma-md-2 themeOutlineBtn" tile outlined>
            <nuxt-link to="/enroll/" >ENROLL NOW</nuxt-link>
          </v-btn>
        </div>
      </div>
      <div class="menu d-none d-md-block">
        <AppMegamenu/>
      </div>
    </div>
    <div>
      <v-bottom-sheet v-model="sheet" :scrollable="true" hide-overlay>
        <v-sheet height="545px">
          <v-btn text color="red" @click="sheet = !sheet">close</v-btn>

          <v-divider></v-divider>
          <v-list nav dense>

          </v-list>
          <v-list nav dense>
             <v-list-group
              v-for="item in itemsWithSubmenu"
              :key="item.title"
              v-model="item.active"
              no-action
            >
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title v-text="item.title"></v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item v-for="subItem in item.inneritems" :key="subItem.title">
                <v-list-item-content>
                  <v-list-item-title v-text="subItem.text"  @click="gotoRoute(subItem.link)"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
            <v-list-item-group color="primary">
              <v-list-item v-for="(item, i) in items" :key="i" @click="gotoRoute(item.link)">
                <v-list-item-content>
                  <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-sheet>
      </v-bottom-sheet>
    </div>
  </section>
</template>

<script>
import AppMegamenu from "./AppMegamenu";
export default {
  name: "AppHeader",
  components: {
    AppMegamenu
  },
  data() {
    return {
      sheet: false,
      items: [
        { text: "Our Programs", link: "/programs/" },
        { text: "Partnership", link: "/partnership/" },
        { text: "Admission", link: "/admission/" },
        { text: "FAQ", link: "/faq/" },
        { text: "Blog", link: "/blog" },
        { text: "Contact", link: "/contact/" },
        { text: "Students Login", link: "/login/" }
      ],
      itemsWithSubmenu: [
        {
          action: "local_activity",
          title: "Why Atheneum",
          inneritems: [
            {
              text: "Accreditations and Memberships",
              link: "/why-atheneum/details/?query=0"
            },
            {
              text: "Online Learning Experience",
              link: "/why-atheneum/details/?query=1"
            },
            {
              text: "Student Life",
              link: "/why-atheneum/details/?query=2"
            },
            {
              text: "Graduate Success",
              link: "/why-atheneum/details/?query=3"
            },
            {
              text: "Mission & Objectives",
              link: "/why-atheneum/details/?query=4"
            },
            {
              text: "Global Teacher Training",
              link: "/why-atheneum/details/?query=5"
            }
          ]
        }
      ],
      overlay: false
    };
  },
  methods: {
    gotoRoute(link) {
      this.sheet = !this.sheet;
      this.$router.push({
        path: link
      });
    },
    toggleDrawer() {
      // console.log(this.drawer);
      this.drawer = !this.drawer;
    }
  }
};
</script>

<style lang="scss" scoped>
.topHeader {
  .container {
    ul {
      li {
        font-size: small;
      }
      li:hover {
        color: $mainColor;
      }
    }
  }
  background-color: #f4f4f4;
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li {
      padding: 0.5em;
      margin: 0 1em;
    }
  }
}

.header {
  .logo {
    img {
      height: 6em;
    }
  }
}

.mobileMenu {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
  align-items: center;
  width: 100vw;
  .logo {
    img {
      height: 5em;
    }
  }
  .material-icons {
    font-size: 36px;
    cursor: pointer !important;
  }
}

@media only screen and (max-width: 786px) {
  .header {
    flex-direction: column;
    position: fixed;
    z-index: 10;
    background: #f7f7f7;
  }
  .action {
    display: flex;
    width: 99%;
    .v-btn {
      width: 50%;
    }
  }
}
</style>
