<template>
  <section>
    <ul class="menuListUl">
      <li>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <a v-on="on">WHY ATHENEUM</a>
          </template>
          <v-card class="content">
            <v-row>
              <v-col md="7">
                <v-card class="pa-2 menuInfo" tile>
                  <h2>WHY ATHENEUM</h2>
                  <p>Learn why so many choose us as their affordable online college.</p>
                  <div class="my-3">
                    <nuxt-link to="/why-atheneum">  <v-btn outlined class="pa-5" small>About Atheneum College</v-btn></nuxt-link>
                  </div>
                </v-card>
              </v-col>
              <v-col md="5">
                <v-card class="pa-2">
                  <div class="menulist">
                    <h4>Why Atheneum</h4>
                    <ul>
                      <li>
                        <nuxt-link
                          :to="{path:'/why-atheneum/details',query:{query:0}}"
                        >Accreditations and Memberships</nuxt-link>
                      </li>
                      <li>
                        <nuxt-link
                          :to="{path:'/why-atheneum/details',query:{query:1}}"
                        >Online Learning Experience</nuxt-link>
                      </li>
                      <li>
                        <nuxt-link :to="{path:'/why-atheneum/details',query:{query:2}}">Student Life</nuxt-link>
                      </li>
                      <li>
                        <nuxt-link
                          :to="{path:'/why-atheneum/details',query:{query:3}}"
                        >Mission &amp; Objectives</nuxt-link>
                      </li>
                      <li>
                        <nuxt-link
                          :to="{path:'/why-atheneum/details',query:{query:4}}"
                        >Graduate Success</nuxt-link>
                      </li>
                      <li>
                        <nuxt-link
                          :to="{path:'/why-atheneum/details',query:{query:5}}"
                        >Global Teacher Training</nuxt-link>
                      </li>
                    </ul>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-card>
        </v-menu>
      </li>
      <li>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <a v-on="on">OUR PROGRAMS</a>
          </template>
          <v-card class="content">
            <v-row>
              <v-col md="12">
                <v-card class="pa-2">
                  <v-row>
                    <v-col md="4">
                      <div class="menulist">
                        <h4>Certification Courses</h4>
                        <ul>
                          <li>
                            <nuxt-link
                              to="/certificate-in-montessori-teacher-training/"
                            >Montessori Studies</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/certificate-in-pre-and-primary-teacher-training/"
                            >Pre and Primary Education</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/certificate-in-early-childhood-education-and-care/"
                            >Early Childhood Education and Care</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/certificate-in-nursery-teacher-training/"
                            >Nursery Teacher Training</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/certificate-in-school-organization-administration-and-management/"
                            >School Organization : Administration and Management</nuxt-link>
                          </li>
                        </ul>
                      </div>
                    </v-col>
                    <v-col md="4">
                      <div class="menulist">
                        <h4>Graduate Courses</h4>
                        <ul>
                          <li>
                            <nuxt-link
                              to="/graduate-diploma-in-montessori-teacher-training/"
                            >Montessori Teacher Training</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/graduate-diploma-in-pre-and-primary-teacher-training/"
                            >Pre and Primary Education</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/graduate-diploma-in-early-childhood-education-and-care/"
                            >Early Childhood Education and Care</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/graduate-diploma-in-nursery-teacher-training/"
                            >Nursery Teacher Training</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/graduate-diploma-in-school-organization-administration-and-management/"
                            >School Organization : Administration and Management</nuxt-link>
                          </li>
                        </ul>
                      </div>
                    </v-col>
                    <v-col md="4">
                      <div class="menulist">
                        <h4>Level 5 Global Qualification</h4>
                        <ul>
                          <li>
                            <nuxt-link
                              to="/global-qualification-in-montessori-teacher-training/"
                            >Montessori Teacher Training</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/global-qualification-in-pre-and-primary-teacher-training/"
                            >Pre and Primary Education</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/global-qualification-in-early-childhood-education-and-care/"
                            >Early Childhood Education and Care</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/global-qualification-in-nursery-teacher-training/"
                            >Nursery Teacher Training</nuxt-link>
                          </li>
                          <li>
                            <nuxt-link
                              to="/global-qualification-in-school-organization-administration-and-management/"
                            >School Organization : Administration and Management</nuxt-link>
                          </li>
                        </ul>
                      </div>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-card>
        </v-menu>
      </li>
      <li>
        <v-menu offset-y class="admission">
          <template v-slot:activator="{ on }">
            <a v-on="on">ADMISSIONS</a>
          </template>
          <v-card class="content">
            <v-row>
              <v-col md="7">
                <v-card class="pa-2 menuInfo" tile>
                  <h2>ADMISSIONS</h2>
                  <p>From tuition to transfer credits, everything you need to know to get started at Ashworth College.</p>
                  <div class="my-3">
                   <nuxt-link to="/admission/">  <v-btn outlined class="pa-5" small>Admission Process</v-btn></nuxt-link>
                  </div>
                </v-card>
              </v-col>
              <v-col md="5">
                <v-card class="pa-2">
                  <div class="menulist">
                    <h4>Admission</h4>
                    <ul>
                      <li>
                        <nuxt-link to="/enroll/">Enrollment</nuxt-link>
                      </li>
                      <li>Tuition Fees</li>
                      <li>
                        <nuxt-link to="/faq/">FAQ</nuxt-link>
                      </li>
                    </ul>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-card>
        </v-menu>
      </li>
      <li>
        <nuxt-link to="/partnership/">PARTNERSHIPS</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/faq/">FAQ</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/contact/">Contact Us</nuxt-link>
      </li>
    </ul>
  </section>
</template>
<style lang="scss" scoped>
.v-menu__content {
  top: 200px !important;
  left: 10% !important;
  width: 70em!important;
}
.menuListUl {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0!important;

  li {
    line-height: 50px;
    padding: 0 25px 0 15px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: large;
  }
}
.content {
  padding: 0 1em;

  .menuInfo {
    background: $mainColor;
    padding: 2em;
    color: white;
    min-height: 20em;
    max-height: 20em;

    h2 {
      font-size: 2.5em;
      padding: 0.5em 0;
    }
    p {
      padding: 0.5em 0;
      font-size: large;
    }
    .v-btn {
      color: white !important;
      font-size: large;
      padding: 0;
    }
  }
  .menulist {
    padding: 1em;
    min-height: 20em;
    max-height: 20em;

    h4 {
      font-size: large;
    }
    ul {
      list-style: none;
      padding-left: 0!important;
    }
    ul > li {
      padding: 0.5em 0 0;
    }
    ul > li > a:hover {
      border-bottom: 2px solid $mainColor;
      color: $mainColor;
    }
  }
}
</style>
