<template>
    <section class="request">
        <h1 class="sectionTitle">Ready to get started?</h1>
        <p>Let's talk about your educational goals. Call +91-9073946431</p>
        <div class="action">
            <nuxt-link to="/request-info"><v-btn large class="ma-2" color="warning" tile >REQUEST INFO</v-btn></nuxt-link>
            <nuxt-link to="/enroll"><v-btn large class="ma-2" color="success" tile > ENROLL NOW</v-btn></nuxt-link>
        </div>
    </section>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>
.request{
    padding: 3em;
    background: $mainColor;
    text-align: center;
    color:white;
}
</style>
