<template>
  <div>
    <v-row justify="center">
      <!-- <v-expansion-panels accordion v-model="panel"> -->
      <v-expansion-panels accordion>
        <v-expansion-panel>
          <v-expansion-panel-header disable-icon-rotate>
            <p class="expansionTitle">Certification Courses</p>
            <template v-slot:actions>
              <i class="iconPlus material-icons">add</i>
              <i class="iconMinus material-icons">remove</i>
            </template>
          </v-expansion-panel-header>

          <v-expansion-panel-content>
            <ul>
              <li>
                <nuxt-link to="/certificate-in-montessori-teacher-training/">Montessori Studies</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/certificate-in-pre-and-primary-teacher-training/">Pre and Primary Education</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/certificate-in-early-childhood-education-and-care/">Early Childhood Education and Care</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/certificate-in-nursery-teacher-training/">Nursery Teacher Training</nuxt-link>
              </li>
              <li>
                <nuxt-link
                  to="/certificate-in-school-organization-administration-and-management/"
                >School Organization : Administration and Management</nuxt-link>
              </li>
            </ul>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header disable-icon-rotate>
            <p class="expansionTitle">Graduate Courses</p>
            <template v-slot:actions>
              <i class="iconPlus material-icons">add</i>
              <i class="iconMinus material-icons">remove</i>
            </template>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <ul>
              <li>
                <nuxt-link to="/graduate-diploma-in-montessori-teacher-training/">Montessori Teacher Training</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/graduate-diploma-in-pre-and-primary-teacher-training/">Pre and Primary Education</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/graduate-diploma-in-early-childhood-education-and-care/">Early Childhood Education and Care</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/graduate-diploma-in-nursery-teacher-training/">Nursery Teacher Training</nuxt-link>
              </li>
              <li>
                <nuxt-link
                  to="/graduate-diploma-in-school-organization-administration-and-management/"
                >School Organization : Administration and Management</nuxt-link>
              </li>
            </ul>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header disable-icon-rotate>
            <p class="expansionTitle">Post Graduate Courses</p>
            <template v-slot:actions>
              <i class="iconPlus material-icons">add</i>
              <i class="iconMinus material-icons">remove</i>
            </template>
          </v-expansion-panel-header>

          <v-expansion-panel-content>
            <ul>
              <li>
                <nuxt-link to="/post-graduate-diploma-in-montessori-teacher-training/">Montessori Studies</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/post-graduate-diploma-in-pre-and-primary-teacher-training/">Pre and Primary Education</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/post-graduate-diploma-in-early-childhood-education-and-care/">Early Childhood Education and Care</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/post-graduate-diploma-in-nursery-teacher-training/">Nursery Teacher Training</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/post-graduate-diploma-in-school-organization-administration-and-management/">School Organization : Administration and Management</nuxt-link>
              </li>
            </ul>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>

    <v-row  v-if="formView==true" class="pa-3 d-none d-md-block">
      <p class="sectionTitle pa-6">Get More Info</p>
      <div class="col-12">
        <v-text-field v-model="email" label="Email" required filled></v-text-field>
      </div>
      <div class="col-12">
        <v-text-field v-model="phone" label="Phone" required filled></v-text-field>
      </div>
      <div class="col-12">
        <v-btn  @click.prevent="AtheneumNotify" x-large class="themeBtn">Notify Me</v-btn>
      </div>
    </v-row>
    <v-row v-else class="row">
        <div class="container">
          <h3>Thank you {{ name }} for your interest!  <br> We will get back to you soon!</h3>
        </div>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    formView:true,
    email:"",
    phone:"",
  }),
  methods: {

    AtheneumNotify: function() { //console.log('json.name');
      let formData = new FormData();
      formData.append('formName', 'NotifyInProgramPage');
      // formData.append('Name', this.name);
      formData.append('Email', this.email);
      formData.append('Phone', this.phone);
      fetch('https://api.teenybeans.in/API/contactFormProcessor/v1/', {
        method: 'POST',
        body: formData
      })
      .then(res => res.json())
      .then(json =>  {
        // alert("h");
        console.log('json.name');
        // this.infoDetails=json.errorm;
        this.infoDetails=json.info;
        if(json.errorm=='ok') {this.formView=false;return this.formView;}//window.location.href = "/thank-you";//router.push("thank-you")


        }
      );
    }
  }

}
</script>
