<template>
  <section class="slider">
    <v-carousel cycle height="100%" width="100%" hide-delimiter-background show-arrows-on-hover>
          <v-carousel-item v-for="(testimonial,i) in testimonials" :key="i">
            <v-row>
              <v-col cols="12" sm="12" md="6" style="text-align:center;">
                <img
                  :src="'/images/programs/'+testimonial.image"
                  class="white--text align-end"
                  height="300px"
                  :alt="testimonial.alt"
                />
                <!-- <v-img
                  class="white--text align-end"
                  height="300px"
                  :src="require(`@/assets/image/programs/${testimonial.image}`)"
                  contain
                ></v-img> -->
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <div class="sliderContent pa-2">
                  <p class="title">{{testimonial.category}}</p>
                  <h2>{{testimonial.title}}</h2>
                  <p>{{testimonial.description}}</p>
                </div>
              </v-col>
            </v-row>
          </v-carousel-item>
        </v-carousel>
  </section>
</template>

<script>
export default {
  data: () => ({
    testimonials: [
        {
          id: 1,
          image: "01.webp",
          category: "POST GRADUATE DIPLOMA",
          title: "PRE & PRIMARY TEACHER TRAINING",
          alt: "PRE & PRIMARY TEACHER TRAINING",
          description:
            "The PG Diploma in Pre & Primary Teacher Training (PPTT) is the appropriate course available to students who are seeking to fulfill the requirements of a pre and primary teacher. The course adopts curriculum guidance from the National Curriculum Framework guidance provided by the Ministry of Women and Child Development and equips course participants with the knowledge and confidence to be expert practitioners in schools and preschools of their choice."
        },
        {
          id: 2,
          image: "MONTESSORI-EDUCATION.png",
          category: "CERTIFICATE COURSE",
          title: "MONTESSORI EDUCATION",
          alt:"MONTESSORI EDUCATION",
          description:
            "The Certificate Program in Montessori Teacher Training educates students about the core ideas of Dr. Maria Montessori and equips students to become effective Montessorians looking to start a career as a Montessori educator. The Certificate Program in Montessori Education prepares educators on the internationally acclaimed Montessori Method in an educational setting."
        },
        {
          id: 3,
          image: "02.webp",
          category: "POST GRADUATE DIPLOMA",
          title: "EARLY CHILDHOOD CARE & EDUCATION",
          alt: "EARLY CHILDHOOD CARE & EDUCATION",
          description:
            "The post graduate diploma in early childhood care and education prepares teachers for a global career in an early learning setting – a preschool, high school or even in a homeschooling set up. It has the right blend of discussion on international structural educational frameworks while incorporating localized practical learnings into the curriculum."
        },
        {
          id: 4,
          image: "05.webp",
          category: "GRADUATE DIPLOMA",
          title: "NURSERY TEACHER TRAINING",
          alt: "NURSERY TEACHER TRAINING",
          description:
            "The Graduate Diploma in Nursery Teacher Training is the ideal program for aspirants who want to teach in the nursery and pre-primary sections of high schools in India. The core course has been framed within the guidelines mandated by the National Council of Educational Research and Training (NCERT) and prepares teachers at the national level for the rigors of teaching in a nursery setting."
        },
        {
          id: 5,
          image: "MONTESSORI-EDUCATION-PG.png",
          category: "POST GRADUATE DIPLOMA",
          title: "MONTESSORI EDUCATION",
          alt:"MONTESSORI EDUCATION",
          description:
            "The Program Post Graduate Diploma in Montessori Education (PGDME) prepares trained educators on the highest concepts and practicalities surrounding the internationally acclaimed Montessori Method in an educational setting. The Program targets at developing crucial competencies, abilities and values needed for powerful faculty leadership and management. The program focuses on having world class effective school leaders. PGDME is unique, scientific and innovative child-centered educational and management program based on the philosophy of Dr. Maria Montessori."
        }

      ]
  })
}
</script>
