<template>
  <section>
    <div class="container">
      <v-row>
        <v-col md="3">
          <programsLeftPanel/>
        </v-col>
        <v-col md="9">
          <v-card class="ma-md-2">
            <v-row align="center" justify="center">
              <img
                  src="/images/programs/MTT.png"
                  class="grey lighten-2 courseImage"
                  alt="GRADUATE DIPLOMA IN MONTESSORI EDUCATION"
                  style="width:100%; max-width:97.5%"
                />
              <!-- <v-img
                :src="require(`@/assets/image/programs/MTT.png`)"
                :lazy-src="require(`@/assets/image/programs/MTT.png`)"
                aspect-ratio="1"
                class="grey lighten-2 courseImage"
                max-width="97.5%"
              ></v-img> -->
            </v-row>

            <v-card class="pa-md-3">
              <h1 class="courseTitle px-1"> GRADUATE DIPLOMA IN MONTESSORI EDUCATION </h1>
              <div class="courseDescription px-1" >
                <p>
                  Montessori Education is designed to allow development of a child at his own pace. Both social and intellectual development is enhanced by the Montessori Method of age-wise grouping. Learning within this diverse group stimulates greater interest and encourages cooperation. It provides for a wide range of developmental needs of the student. Montessori training enables teachers to present the curriculum in a manner that best fits the student, rather than making the student fit the curriculum.
                </p>
                <p>
                  One of the first things you note when you first walk into a Montessori school is the layout of the classroom. Unfortunately, a Montessori environment uses a 3 year mixed age grouping, where instruction is personalized to meet the individual and smaller groups needs. This is not a traditional school where students are grouped by birth-year, where typically all groups are based on chronological age. The layout of this multi-age classroom is focused on findings of Dr Montessori and on research that revealed that four distinct growth stages from birth to early adulthood are taking place. She named them planes of development. Some may use the words 'stages' or 'phases' in psychology and education.
                </p>
                <p>
                  According to Dr. Montessori, every developmental plane has distinct sensitive learning periods – when children show certain needs, characteristics and characteristics on every developmental plane. A child undergoes a period of intense developmental change during these sensitive stages followed by a period of assimilation, which is marked by a student who trusts his newly acquired skills. Using this model, the curriculum and the teaching method is systematic and centered on stages associated with developmental psychology.
                </p>
                <p>
                  We stress that the first cycle is completed upon approaching the age of six. If the child leaves a Montessori setting before completing the age of six years, he will not be able to receive the full benefit of Montessori program and also will not be able to get the full-time to complete his learning in Montessori curriculum. The five years old children lead the class with dignity, self-esteem and self-confidence; three qualities which enable a child to approach new social challenges in life.
                </p>
                <p>
                  The Graduate Program in Montessori Teacher Training educates students about the philosophy and practical ideas of Dr. Maria Montessori and the effectiveness of her approach inside the classroom. The Graduate Diploma Program in Montessori Education prepares educators on the internationally acclaimed Montessori Method in an educational setting. The Program targets developing crucial competencies, abilities and values needed for powerful faculty leadership and management. The program focuses on having world class effective school leaders.
                </p>
                <p>
                  If you are planning a career as a Montessori instructor, the Graduate Diploma in Montessori Training is the most appropriate course available to students today. The course helps Montessori educators and aspirants to make a career as a Montessori teacher while not compromising on an existing career or life choices that requires them to pursue a global Graduation Diploma in a field of their choice.
                </p>

              </div>
              <v-tabs show-arrows center-active vertical>
                <v-tab>COURSE DURATION</v-tab>
                <v-tab>ELIGIBILITY</v-tab>
                <v-tab>COURSE FEE</v-tab>
                <v-tab>CURRICULUM</v-tab>
                <v-tab>DIPLOMA</v-tab>
                <v-tab>ENROLLMENT PROCESS</v-tab>
                <v-tab>ACADEMIC SUPPORT</v-tab>
                <v-tab>PLACEMENTS</v-tab>

                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDuration">
                      <div class="pa-3">
                       <ul>
                        <li> Maximum duration of the course is 9 months. </li>
                        <li> It is a flexible program that can be pursued from any corner of the globe. </li>
                        <li> Self-paced.</li>
                        <li> Fast track mode permits early completion</li>
                       </ul>
                      </div>
                      <p>Average course completion time varies between 4-6 months depending on the number of hours per week that you devote to this course. The time spent though, is well accounted for as it equips teachers with the essential knowledge base to further his or her career in this field with confidence.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEligibility">
                      <div class="pa-3">
                        <ul>
                          <li>  A Bachelors degree is the minimum requirement for this course. </li>
                          <li>  Aspiring and existing teachers are free to apply. </li>
                        </ul>
                      </div>
                      <p>The minimum eligibility requirement for the Graduate Diploma in Pre and Primary Teacher Training is a high school graduation from any recognized institute. After you’ve enrolled yourself into the course, you’d have to submit your documentation for our records. </p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseFee">
                      <div class="pa-3">
                        <ul>
                          <li>  Program is available in online mode. </li>
                          <li>  Very reasonably priced with installment options available. </li>
                          <li>  Scholarships available for meritorious students. </li>
                        </ul>
                      </div>
                      <p>The Graduate Diploma in Montessori Education is priced very affordably at Rs 15,500 for Indian citizens and $250 for international students. The course is administered completely online and hence extremely conveniently administered for students pursuing existing careers or those who require the flexibility of self paced online education. With a Graduation from Atheneum Global Teacher Training College, be best placed for a global teaching career with a very affordable investment. </p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseCurriculam">
                      <p> We offer a comprehensive Graduate Program in Montessori Teacher Training for those wishing to work with, or be in charge of Montessori house of children in pre-primary education space. The course comprises of advance Montessori concepts – both theoretical and practical.</p>
                      <p>The Diploma is awarded on satisfactory completion of the course, which is assessed by: Written coursework, set throughout the course in the form of tutorials. Production of reference files on the practical materials. Making of language and cultural teaching materials. The Graduate Diploma in Montessori Education is an integrated course consisting of theory, practicals, album making module followed by a viva voce. </p>
                      <b>Theory: </b> <p>8 modules </p>
                      <b>Practicals: </b> <p>4 modules </p>
                      <b>Albums: </b> <p>5 modules </p>
                      <p>The break up of these modules is as below – </p>
                      <b>THEORY</b>
                      <ol>
                        <li>Life History Of Maria Montessori </li>
                        <li>MONTESSORI METHOD AND HISTORY</li>
                        <li>Exercises of Practical Life</li>
                        <li>Early Childhood Education</li>
                        <li>Montessori School Administration</li>
                        <li>Sensory Education in Montessori</li>
                        <li>Early childhood language</li>
                        <li>Methods of Teaching, Writing and  Reading</li>

                      </ol>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDiploma">
                      <p> After the completion of the Graduate Diploma course, candidates are awarded a Graduate Diploma by Atheneum Global Teacher Training College. The diploma awarded has an added advantage as the word ‘Online’ is not mentioned in the certificates. Shipment of certificates within India is done free of cost but the candidates residing outside India are required to pay an additional US $ 25 (South East Asian & Middle Eastern Countries) and US $ 35 (rest of the world) as certificate dispatch fee. Generally after submission of all the assignments and completion of the course, you have to pay the dispatch fee. After that we take your shipping address and contact number and courier the certificate to the same. It takes a maximum of 3 weeks for the certificates to reach the candidate’s address.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEnrollment">
                      <ul>
                        <li>  Simple and easy enrollment process. </li>
                        <li>  Application and payment online. </li>
                      </ul>
                      <p> All our course requirements are clarified on our website, FAQs and Blog posts. You can also give us a call to help you with the onboarding process or to help clarify some aspects of the course.</p>
                      <p>Once you’ve made the online payment, you have to wait between 24-48 hours before we can enable your student account and get you started on your journey to academic success.</p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseAcademic">
                      <ul>
                        <li>  Personalized tutor support. </li>
                        <li>  Tons of reference material and videos </li>
                        <li>  Self Paced </li>
                      </ul>
                      <p> Trainees enrolled into the program would be personally tutored by our experienced faculties at Atheneum Global Teacher Training College. Regular doubt clearing sessions and other academic support is extended as part of this personalized tutoring. The learning is at your own pace and the support provided is completely personalized and carries high level of expertise.  </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="coursePlacements">
                      <p>Atheneum Global Teacher Training College’s industry linkages and international credentials lends credibility to your candidature. Every candidate is issued a personalized letter to help him or her land up with an internship of their choice. This internship is an important step towards finishing your course as well as to start your journey as an educator. </p>
                      <p>In addition to this, candidates are also given privileged access to Jobs For Teachers, a national portal for teachers for all kinds of teaching assignments. In essence, what we wish to communicate is that Atheneum is committed to offer you the very best education and the very best access to teaching opportunities. </p>

                    </div>
                  </v-card>
                </v-tab-item>
              </v-tabs>
              <div class="d-flex justify-center align-center pa-3">
               <nuxt-link to="/enroll"> <v-btn large class="ma-2 themeBtn">
                  ENROLL NOW
                </v-btn></nuxt-link>
              </div>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
      <sliderTestimonialsPrograms/>

    </div>
  </section>
</template>

<script>
import programsLeftPanel from '../../components/programsLeftPanel';
import sliderTestimonialsPrograms from '../../components/sliderTestimonialsPrograms';

export default {
  components: { programsLeftPanel, sliderTestimonialsPrograms},
   head () {
    return {
      title: 'Graduate Diploma in Montessori Teacher Training',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: "The Montessori Teacher Training Graduate Diploma Course helps tomorrow's educators to obtain a global perspective on the Montessori teaching-learning process."
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/graduate-diploma-in-montessori-teacher-training/' }
            ]
    }
  },
  data: () => ({

  }),
  methods: {

  },
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
.courseTitle {
  color: $mainColor;
  padding: 1em 0;
  font-size: 1.5em;
}
ul {
  li {
    padding: 0.5em 0;
  }
}
.courseImage {
  max-height: 18em;
}
@media only screen and (max-width: 600px) {
  .courseImage {
    max-height: 7.5em;
  }
}
</style>
