<template>
  <section>
    <div class="headTitleContainer">
      <div class="container">
        <h1>Atheneum College FAQ</h1>
      </div>
    </div>
    <div class="container">
      <div class="tabPanel">
        <div class="container">
          <v-card class="pa-md-6">
            <v-tabs show-arrows center-active vertical v-model="active_tab">
              <v-tab>Academics</v-tab>
              <v-tab>Admissions</v-tab>
              <v-tab>General Information</v-tab>
              <v-tab>Tuition</v-tab>
              <v-tab>Placements</v-tab>
              <v-tab-item>
                <v-card flat>
                  <p>Welcome to the Atheneum Global Teacher Training College Frequently Asked Questions page. This is where you will find answers to frequently asked questions all in one place. Topic-specific FAQs may also be found on program overview pages. Can’t find what you need? Don’t hesitate to call us at +91-9073946431 to chat with an Admissions Advisor.</p>
                  <v-expansion-panels accordion class="mb-6">
                    <v-expansion-panel v-for="(item,i) in academics" :key="i">
                      <v-expansion-panel-header disable-icon-rotate>
                        <p class="expansionTitle">{{item.title}}</p>
                        <template v-slot:actions>
                          <i class="iconPlus material-icons">add</i>
                          <i class="iconMinus material-icons">remove</i>
                        </template>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <div class="pa-3" v-html="item.description"></div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat>
                  <v-expansion-panels accordion class="mb-6">
                    <v-expansion-panel v-for="(item,i) in admission" :key="i">
                      <v-expansion-panel-header disable-icon-rotate>
                        <p class="expansionTitle">{{item.title}}</p>
                        <template v-slot:actions>
                          <i class="iconPlus material-icons">add</i>
                          <i class="iconMinus material-icons">remove</i>
                        </template>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <div class="pa-3" v-html="item.description"></div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat>
                  <v-expansion-panels accordion class="mb-6">
                    <v-expansion-panel v-for="(item,i) in generalInformation" :key="i">
                      <v-expansion-panel-header disable-icon-rotate>
                        <p class="expansionTitle">{{item.title}}</p>
                        <template v-slot:actions>
                          <i class="iconPlus material-icons">add</i>
                          <i class="iconMinus material-icons">remove</i>
                        </template>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <div class="pa-3" v-html="item.description"></div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat>
                  <v-expansion-panels accordion class="mb-6">
                    <v-expansion-panel v-for="(item,i) in tutions" :key="i">
                      <v-expansion-panel-header disable-icon-rotate>
                        <p class="expansionTitle">{{item.title}}</p>
                        <template v-slot:actions>
                          <i class="iconPlus material-icons">add</i>
                          <i class="iconMinus material-icons">remove</i>
                        </template>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <div class="pa-3" v-html="item.description"></div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat>
                  <v-expansion-panels accordion class="mb-6">
                    <v-expansion-panel v-for="(item,i) in placements" :key="i">
                      <v-expansion-panel-header disable-icon-rotate>
                        <p class="expansionTitle">{{item.title}}</p>
                        <template v-slot:actions>
                          <i class="iconPlus material-icons">add</i>
                          <i class="iconMinus material-icons">remove</i>
                        </template>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <div class="pa-3" v-html="item.description"></div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card>
              </v-tab-item>
            </v-tabs>
          </v-card>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  head() {
    return {
      title: "Common Questions about online courses and admission",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Find out the frequently asked questions here about our online academic programs and evaluation process for our online teacher training programs."
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/faq/' }
            ]
    };
  },
  data: () => ({
    active_tab: 0,
    content: [
      {
        id: 1,
        title: "WHAT IS A PRE & PRIMARY TEACHER TRAINING PROGRAM?",
        description: `In recent years, there has been a growing demand for skilled resources to work in pre-
                primary schools with young kids. However, not all pre-primary schools are run by qualified educators
                who understand how best to train young impressionable minds. This program is intended to minimize
                the gap between the required and available competencies in this domain and make it accessible to a
                vast majority of students.
                This program aspires applicants to educate educators who want to upgrade their abilities and
                qualifications at the pre-primary levels while continuing their service. Knowledge of different elements
                of child education is also ideal for moms who want to educate their kids at home. It also provides
                guidance to those who want to open a pre-primary school.`
      },
      {
        id: 2,
        title: "WHO SHOULD ATTEND A NURSERY TEACHER TRAINING PROGRAM? ",
        description: `Teaching has become an international profession and modern teachers &#39; function has become more
                complex and demanding, and they are more often called contemporary educators. Today the focus is on
                learners and educators who need to engage young minds by creating an effective teaching environment
                for them, particularly the pre-primary teachers.
                Teachers play a significant role in preparing children in an age where there is literally everything at their
                fingertips. In order to facilitate learning and make them ready for the future, early childhood educators
                need to be empathetic to the needs and requirement of early learners.
                It is to this end, that a globally enriched program at Atheneum would help modern educators become
                knowledge-savvy, techno—savvy and technically and functionally competent professionals who are in
                pace with the learning requirements of the next generation.
                Graduates, working professionals or high school diploma holders who aspire to contribute to their
                country’s growth and development, can choose a profession no better than that of an educator.
                Atheneum is merely a conduit for such people – a conduit to a better future, a better career and a
                better nation.

                While it can feel daunting to start over after four years spent studying one very
                specialized field, a career in teaching is incredibly rewarding.
                If you love working with young people and have a sense of accomplishment from
                helping students grow, then it might be worth tutoring on the side, shadowing teachers,
                or even working as a substitute teacher before you pursue obtaining your teaching
                credential, either through the traditional or alternative means mentioned above.`
      },
      {
        id: 3,
        title:
          "WHY PURSUE AN INTERNATIONAL PRESCHOOL TEACHING TRAINING CERTIFICATION",
        description: `There are several possibilities because of which you would wish to pursue a preschool teacher training
                certification.
                Maybe you didn&#39;t understand that you wanted to pursue becoming a teacher during high
                school or early in college and you recently graduated.
                If you&#39;re asking yourself why you&#39;ve gained a degree in sociology, computer science, or
                biology, when the reality is, none of those are areas you really want to follow as a long-
                term profession, you&#39;re in not alone. That nagging sense you&#39;re not interested to
                pursue what you&#39;ve just been studying for four or more years? It shouldn&#39;t be ignored.
                Or perhaps you&#39;re considering a shift in career. Just because you&#39;re on a dedicated
                career path doesn&#39;t mean you&#39;re going to have to remain there forever, right?
                You may have felt bored or frustrated recently with your job. Or, you operate with failed job possibilities
                in a sector.
                If you&#39;re looking for a new challenge, switching to a career in education is never too late. And here&#39;s the
                really good news-to make it happen, you don&#39;t have to go back to college and get another bachelor&#39;s
                degree in education.
                With the click of a mouse button and a swipe on your mobile phone, you can enroll into
                Atheneums Globally accredited courses to set in motion version 2.0 for your career. Our
                programs allow students with a bachelor&#39;s degree and career experience to earn a
                teaching license outside of the traditional route mentioned above. These programs will
                typically get you teaching in the classroom faster than a traditional education prep
                program.

                They are short, intensive programs designed to get you into the classroom as quickly as
                possible - some in as little as six months, in fact. If your bachelor’s degree isn’t
                education and you’re looking to fast track your teaching certification, there are even
                online teacher certification programs that let you teach while earning your teaching
                credential.`
      },
      {
        id: 4,
        title: "TEACHING JOBS IN INDIA AND ABROAD",
        description: `The study by Centre for Budget and Governance Accountability (CBGA) and Child Rights and You (CRY)
                found that across the six states, Bihar and Uttar Pradesh together account for more than 4.2 lakhs of
                vacant posts. Though the states have increased funding for school education in the 14th Finance

                Commission, states have not fully utilised their budgets to change the composition of their school
                education spending. This has led to a crunch in the allocation of resources, the study found. `
      },
      {
        id: 5,
        title: "TEACHING IN KINDERGARTEN SCHOOLS",
        description: `ndia’s first and only online job portal for graduates for teaching jobs is Atheneums placement partner for students looking to get placed in schools of their choice. All students enrolling into any of Atheneums graduate or post graduate programs would be eligible for a free access to the portal for a year. `
      },
      {
        id: 6,
        title: "VALUE OF CERTIFICATION",
        description: `ndia’s first and only online job portal for graduates for teaching jobs is Atheneums placement partner for students looking to get placed in schools of their choice. All students enrolling into any of Atheneums graduate or post graduate programs would be eligible for a free access to the portal for a year. `
      },
      {
        id: 7,
        title: "ACADEMICS",
        description: `ndia’s first and only online job portal for graduates for teaching jobs is Atheneums placement partner for students looking to get placed in schools of their choice. All students enrolling into any of Atheneums graduate or post graduate programs would be eligible for a free access to the portal for a year. `
      },
      {
        id: 8,
        title: "EVALUATION PROCESS",
        description: `ndia’s first and only online job portal for graduates for teaching jobs is Atheneums placement partner for students looking to get placed in schools of their choice. All students enrolling into any of Atheneums graduate or post graduate programs would be eligible for a free access to the portal for a year. `
      },
      {
        id: 9,
        title: "INTERNSHIP & WORK",
        description: `ndia’s first and only online job portal for graduates for teaching jobs is Atheneums placement partner for students looking to get placed in schools of their choice. All students enrolling into any of Atheneums graduate or post graduate programs would be eligible for a free access to the portal for a year. `
      },
      {
        id: 10,
        title: "PLACEMENTS",
        description: `ndia’s first and only online job portal for graduates for teaching jobs is Atheneums placement partner for students looking to get placed in schools of their choice. All students enrolling into any of Atheneums graduate or post graduate programs would be eligible for a free access to the portal for a year. `
      }
    ],
    academics: [
      {
        id: 1,
        title:
          "What kind of online academic programs does Atheneum Global Teacher Training College offer?",
        description: `Atheneum Global Teacher Training College offers convenient online training and academic programs for aspiring teachers. Our career certificate program, graduate diploma and post-graduate diploma programs are designed for busy adults for them to learn new skills and follow their professional aspirations through the right education in a flexible, affordable and efficient manner—from home or anywhere in the world. `
      },
      {
        id: 2,
        title:
          "How does online learning work at Atheneum Global Teacher Training College?",
        description: `Your lessons are asynchronous. There are no set log-in times for courses or exams. Study anytime and anywhere and complete lessons at your convenience. You can allocate as much time as you need to absorb and truly understand the material, on a schedule that fits your lifestyle.`
      },
      {
        id: 3,
        title: "When will I receive my textbooks or other study materials?",
        description: `Our courses use only eBooks and online lessons, but others use textbooks, lesson books, workbooks, and/or study guides. There is a vast repository of online content that that you will have access to. Every course has dedicated videos curated specifically for the topic being discussed. Along with it, there are study guides organized by lessons, assignment guides and video transcripts that help you in developing a holistic understanding of the course. These study materials are available in a timely manner, based on your rate of completion of assignments and exams.`
      },
      {
        id: 4,
        title: "Tell me about your academic team.",
        description: `The core belief in offering online education to aspiring teachers is that we can truly make a difference to your learning journey. Our academic team consists of a highly qualified, dedicated staff of professionals. Each program brings together a committed team of academic advisors, certified trainers, subject matter experts, course authors, and support staff working together to ensure our students achieve their goals and obtain the personalized support needed to succeed.`
      },
      {
        id: 5,
        title: "Who do I call for academic assistance or study help?",
        description: `After enrollment, you will be contacted by your course tutor or an academic advisor for any specific help or support you require. Atheneum Global Teacher Training College provides a superb team of academic advisors who work with students in every subject one on one. You may reach a member of our academic advisor team Monday – Friday, 8:30am to 2:30pm. Contact one of two ways:
                •	Call 033-4065 2177 and request an academic advisor.
                •	In your Student Portal, click on the Support tab and enter a ticket.

                `
      },
      {
        id: 6,
        title: "How soon can I expect support from an academic advisor?",
        description: `When reaching out to an academic advisor for assistance or tutoring, please login to your portal with the page number(s) or chapters identified. If advanced help is needed, advisors place a request for a subject matter specialist to contact you. Please allow the subject specialist 24 to 48 hours to return your phone call.`
      },
      {
        id: 7,
        title: "Can I get help to complete my exams or assignments?",
        description: `No. No one on our support or academic staff is permitted to assist with course exams or assignments. However, we are readily available to provide clarification on exam or assignment requirements or the submission process.`
      },
      {
        id: 8,
        title: "How are assignments, exams, and grades handled?",
        description: `Student-initiated assignments are uploaded through your personal Student Portal, graded within two weeks of submission and returned to you with feedback. Grades are recorded in your personal Student Portal. Some assignments, such as multiple-choice exams, are graded and posted immediately after submission.`
      },
      {
        id: 9,
        title: "About Evaluation Process",
        description: `Your personalized tutor is in charge of the grading process which is led by our internal team of academic experts. While the results for quizzes are immediately available, your assignments, albums and other subjective questions are graded and assessed within a period of 14 days. `
      },
      {
        id: 10,
        title:
          "Can I handle online study after having passed out from school a long time ago?",
        description: `Many students find online learning easier than sitting in a classroom. Free from the pressures of quizzes and peer pressure. You can study in a way that suits you best and take the time you need to progress.`
      },
      {
        id: 11,
        title:
          "I’m returning to school after a long hiatus. I am also juggling a job and family. How do I find the time for my education?",
        description: `First, you're not alone. Most of our students, and in fact every human on earth, lead full lives that pull them in multiple directions. Our curriculum is carefully designed to work with the complicated schedules of adult students of all ages.
                Rest assured, our dedicated support team is available to assist you with your studies, time management, and any other obstacles that pop up, as we guide you through your program to graduation.
                The commitment required from your side is anywhere between 4-8 hours of self study time per week depending on the course you’ve enrolled yourself into.`
      }
    ],
    admission: [
      {
        id: 1,
        title:
          "What are the admissions requirements for Atheneum Global Teacher Training College?",
        description: `You must be at least 16 years of age to enroll or have the enrollment form signed by a parent or legal guardian. Career certificate courses generally have no prerequisites but Graduate Diploma and Post-Graduate Diploma requires a school leaving certificate (for Graduate Diploma) and a graduation degree or diploma ( for Post-Graduate Diploma).`
      },
      {
        id: 2,
        title: "Can I enroll any time of year?",
        description: `Yes! Flexibility is the hallmark of online, self-paced education at Atheneum Global Teacher Training College. You may enroll online anytime—24/7—and start class the same day.`
      },
      {
        id: 3,
        title: " How do I enroll?",
        description: `Just choose the course you wish to enroll into, search for payment options and feed in coupon codes if you have any. Do search up social media for available coupon codes for the best discounts available. Once you’ve completed the payments, we will take between 12-48 hours to provide you with your login credentials with which you can proceed at leisure to complete the course.`
      },
      {
        id: 4,
        title: "Can I enroll if I live outside of the India?",
        description: `Yes. Atheneum Global Teacher Training College welcomes students from around the world. Online education makes perfect sense wherever you live. The courses we have find relevance for present and aspiring teachers from all across the globe. Our global affiliations and memberships make your credentials as a teacher truly unique.`
      }
    ],
    generalInformation: [
      {
        id: 1,
        title:
          "How much time is needed to earn a career certificate, graduate diploma or post graduate diploma?",
        description: `
                <p>Career Certificate Programs are designed to be completed in about three months, but you can take up to 4 months to complete your studies and earn your graduate certificate.</p>
                <p>Graduate Diploma Programs are designed to be completed in six months. We allow you up to nine months from the date of your enrollment to complete your studies and earn your Graduate Diploma.</p>
                <p>Post-Graduate Diploma Programs are designed to be completed in nine to twelve months. We allow you up to fifteen months from the date of your enrollment to complete your studies and earn your Post-Graduate Diploma.</p>
                `
      },
      {
        id: 2,
        title: "What are the graduation requirements?",
        description: `Career Certificate Programs are designed to be completed in about three months, but you can take up to 4 months to complete your studies and earn your graduate certificate.`
      },
      {
        id: 3,
        title: " How do I enroll?",
        description: `
                You must meet the following requirements to graduate from Atheneum Global Teacher Training College:
                <ol>
                  <li> Pass all exams </li>
                  <li> Complete at least three months of enrollment at Atheneum Global Teacher Training College </li>
                  <li> Provide the relevant pre-requisite documents (school leaving certificate/graduation degree). </li>
                </ol>

                `
      },
      {
        id: 4,
        title:
          "How soon after I graduate will I receive my diploma or certificate?",
        description: `Your diploma or certificate, and your transcript, will be mailed within 4 weeks of graduation.`
      },
      {
        id: 5,
        title: "WHO SHOULD ATTEND A NURSERY TEACHER TRAINING PROGRAM",
        description: `
                <p>Teaching has become an international profession and modern teachers ' function has become more complex and demanding, and they are more often called contemporary educators. Today the focus is on learners and educators who need to engage young minds by creating an effective teaching environment for them, particularly the pre-primary teachers.</p>
                <p>Teachers play a significant role in preparing children in an age where there is literally everything at their fingertips. In order to facilitate learning and make them ready for the future, early childhood educators need to be empathetic to the needs and requirement of early learners.</p>
                <p>It is to this end, that a globally enriched program at Atheneum would help modern educators become knowledge-savvy, techno—savvy and technically and functionally competent professionals who are in pace with the learning requirements of the next generation.</p>
                <p>Graduates, working professionals or high school diploma holders who aspire to contribute to their country’s growth and development, can choose a profession no better than that of an educator. Atheneum is merely a conduit for such people – a conduit to a better future, a better career and a better nation.</p>
                <p>While it can feel daunting to start over after four years spent studying one very specialized field, a career in teaching is incredibly rewarding.</p>
                <p>If you love working with young people and have a sense of accomplishment from helping students grow, then it might be worth tutoring on the side, shadowing teachers, or even working as a substitute teacher before you pursue obtaining your teaching credential, either through the traditional or alternative means mentioned above.</p>
                `
      },
      {
        id: 6,
        title: "WHAT IS A PRE & PRIMARY TEACHER TRAINING PROGRAM",
        description: `
                <p>In recent years, there has been a growing demand for skilled resources to work in pre-primary schools with young kids. However, not all pre-primary schools are run by qualified educators who understand how best to train young impressionable minds. This program is intended to minimize the gap between the required and available competencies in this domain and make it accessible to a vast majority of students.</p>
                <p>This program aspires applicants to educate educators who want to upgrade their abilities and qualifications at the pre-primary levels while continuing their service. Knowledge of different elements of child education is also ideal for moms who want to educate their kids at home. It also provides guidance to those who want to open a pre-primary school.</p>

                `
      },
      {
        id: 7,
        title:
          "WHY PURSUE AN INTERNATIONAL PRESCHOOL TEACHING TRAINING CERTIFICATION",
        description: `
                <p>There are several possibilities because of which you would wish to pursue a preschool teacher training certification.
                <p>Maybe you didn't understand that you wanted to pursue becoming a teacher during high school or early in college and you recently graduated.</p>
                <p>If you're asking yourself why you've gained a degree in sociology, computer science, or biology, when the reality is, none of those are areas you really want to follow as a long-term profession, you're in not alone. That nagging sense you're not interested to pursue what you've just been studying for four or more years? It shouldn't be ignored.</p>
                <p>Or perhaps you're considering a shift in career. Just because you're on a dedicated career path doesn't mean you're going to have to remain there forever, right?</p>
                <p>You may have felt bored or frustrated recently with your job. Or, you operate with failed job possibilities in a sector. If you're looking for a new challenge, switching to a career in education is never too late. And here's the really good news-to make it happen, you don't have to go back to college and get another bachelor's degree in education.</p>
                <p>With the click of a mouse button and a swipe on your mobile phone, you can enroll into Atheneums Globally accredited courses to set in motion version 2.0 for your career. Our programs allow students with a bachelor's degree and career experience to earn a teaching license outside of the traditional route mentioned above. These programs will typically get you teaching in the classroom faster than a traditional education prep program.</p>
                <p>They are short, intensive programs designed to get you into the classroom as quickly as possible - some in as little as 4 months, in fact. If your bachelor’s degree isn’t education and you’re looking to fast track your teaching certification, there are even online teacher certification programs that let you teach while earning your teaching credential.</p>


                `
      },
      {
        id: 7,
        title: "VALUE OF CERTIFICATION",
        description: `
                An Atheneum Global Teacher Training College certification is a stamp of quality and authority. With our global credentials and international validation of all our courses, students of Atheneum are assured of industry relevance and wide acceptability of our diploma. Aspirants wishing to pursue teacher training in India and abroad are best equipped after the completion of the course to meet with the requirements of joining any nationally and internationally recognized academic institution.
                `
      }
    ],
    tutions: [
      {
        id: 1,
        title: "Are there any additional fees?",
        description: `
                <p>In sync with our corporate vision of educating more than 10 million children by year 2025, we have kept the tuition fees to the bare minimum in acknowledgement of the fact that our graduates would serve to meet our organizational goal.</p>
                <p>Other than what you pay for, we have a moderate charge for couriering your certificates to your location.</p>

                `
      },
      {
        id: 2,
        title:
          "What is the Atheneum Global Teacher Training College’s cancellation policy?",
        description: `
                We do not have a policy of refunding payments. We advise all aspirants to be very clear about the objectives of enrolling into the course and pay only when convinced about pursuing the course. We are lenient with timelines of assignment submissions as we know that as managing online education along with a career and family can be challenging. However, we do not offer refunds for any grounds.
                `
      }
    ],
    placements: [
      {
        id: 1,
        title: "INTERNSHIP & WORK",
        description: `
                <p>A huge advantage of pursuing a global diploma through Atheneum Global Teacher Training Program is the fact that due to our national and international presence, we are able to assist you in getting internships and job placements. We connect students with educational institutes in our network for internships and placements. Our network is ever growing as we intend to become India’s largest teacher training network by year 2021.</p>
                <p>We also provide every participant a customized introductory letter to furnish to schools and preschools in their vicinity. The letter authorizes candidates for a customary internship at the institute as part of the academic requirements of the course that the candidate is pursuing with Atheneum Global Teacher Training College.</p>

                `
      },
      {
        id: 2,
        title: "PLACEMENTS",
        description: `
                <p>With an ever growing network of partner institutes, Atheneum Global Teacher Training College is best placed to meet with your career aspirations. Atheneum Global graduates are preferred at these partner institutes vis-à-vis other applicants as our courses are industry validated and internationally recognized. It helps graduates with the little push that one requires to get ahead in their career.</p>
                <p>Atheneum graduates are also given selective privileges on our partner job portal – Jobs For Teachers (JFT). It is India’s only dedicated job portal for preschool and high school teachers to pursue a career in a school of their choice or to look up tuition assignments in their locality.</p>
                <p>To summarize, Atheneum Global Teacher Training College serves the academic and professional requirements of all graduates and is best placed to be an educators training partner for life.</p>

               `
      }
    ]
  })
};
</script>

<style lang="scss" scoped>
.v-card {
  padding: 0 1em;
  margin-bottom: 3em;
}
@media only screen and (max-width: 600px) {
  .v-card {
    padding: 0.3em;
    margin-bottom: 1.5em;
  }
}
</style>
