<template>
  <section>
    <div class="container">
      <v-row>
        <v-col md="3">
          <programsLeftPanel/>
        </v-col>
        <v-col md="9">
          <v-card class="ma-md-2">
            <v-row align="center" justify="center">
              <img
                  src="/images/programs/NTT.png"
                  class="grey lighten-2 courseImage"
                  alt="Level 5 Global Qualification IN NURSERY TEACHER TRAINING"
                  style="width:100%; max-width:97.5%"
                />
              <!-- <v-img
                :src="require(`@/assets/image/programs/NTT.png`)"
                :lazy-src="require(`@/assets/image/programs/NTT.png`)"
                aspect-ratio="1"
                class="grey lighten-2 courseImage"
                max-width="97.5%"
              ></v-img> -->
            </v-row>

            <v-card class="pa-md-3">
              <h1 class="courseTitle px-1"> Level 5 Global Qualification IN NURSERY TEACHER TRAINING </h1>
              <div class="courseDescription px-1" >
                <p> The Level 5 Global Qualification in Nursery Teacher Training is based on developmentally appropriate approaches in early childhood and it defines the vital role of preschool teachers and parents in connecting the key concepts/skills, goals, pedagogical processes and practices and ultimately leading to achievement of early learning outcomes. The curriculum aims at providing a cohesive approach to teacher education to facilitate the unfolding of each child’s innate potentials in all the domains of development. The curriculum focuses on understanding the developmental stages when children inquire, explore and discover a great deal about themselves and establish attitudes and competencies related to the learning that stay with them for life. It also aims to integrate the various domains of development with the expected learning outcomes in ways that are compatible with the natural learning behavior of young children in this age group.</p>
                <p> If you are planning a career as a nursery teacher, the Level 5 Global Qualification in Nursery Teacher Training is the most appropriate course available to students today. The course, which has been framed within the guidelines of the National Council of Educational Research and Training (NCERT), prepares nursery teachers for positions of responsibility in schools and preschools of their choice.</p>
                <p> The course is helps nursery teachers and aspirants to make a career as a nursery teacher while not compromising on an existing career or life choices that requires them to pursue a global post-graduation diploma in a field of their choice.</p>

              </div>
              <v-tabs show-arrows center-active vertical>
                <v-tab>COURSE DURATION</v-tab>
                <v-tab>ELIGIBILITY</v-tab>
                <v-tab>COURSE FEE</v-tab>
                <v-tab>CURRICULUM</v-tab>
                <v-tab>DIPLOMA</v-tab>
                <v-tab>ENROLLMENT PROCESS</v-tab>
                <v-tab>ACADEMIC SUPPORT</v-tab>
                <v-tab>PLACEMENTS</v-tab>

                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDuration">
                      <div class="pa-3">
                      <ul>
                        <li> Maximum duration of the course is 15 months. </li>
                        <li> It is a flexible program that can be pursued from any corner of the globe. </li>
                        <li> Self-paced.</li>
                        <li> Fast track mode permits early completion</li>
                      </ul>
                      </div>
                      <p>Average course completion time varies between 9-15 months depending on the number of hours per week that you devote to this course. The time spent though, is well accounted for as it equips teachers with the essential knowledge base to further his or her career in this field with confidence.</p>
                        </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEligibility">
                      <div class="pa-3">
                        <ul>
                          <li>  A Bachelors degree is the minimum requirement for this course. </li>
                          <li>  Aspiring and existing teachers are free to apply. </li>
                        </ul>
                      </div>
                      <p>The minimum eligibility requirement for the Level 5 Global Qualification in Nursery Teacher Training is a bachelor’s degree from any recognized institute. After you’ve enrolled yourself into the course, you’d have to submit your documentation for our records.</p>
                      </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseFee">
                      <div class="pa-3">
                        <ul>
                          <li>  Program is available in online mode. </li>
                          <li>  Very reasonably priced with installment options available. </li>
                          <li>  Scholarships available for meritorious students. </li>
                        </ul>
                      </div>
                      <p>The Level 5 Global Qualification in Nursery Teacher Training is priced very affordably at Rs 25,500 for Indian citizens and $400 for international students. The course is administered completely online and hence extremely conveniently administered for students pursuing existing careers or those who require the flexibility of self paced online education. With a Level 5 Global Qualification from Atheneum Global Teacher Training College, be best placed for a global teaching career with a very affordable investment.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseCurriculam">
                      <p> The curriculum has been designed for three years of nursery education before class I, which highlights goals, key concepts/ skills, pedagogical processes and early learning outcomes for nursery I, II and III. It also suggests ways of planning a nursery education programme, classroom organizations and management, assessment and building partnership with parents and community.</p>
                      <p>Keeping the NCERT guidelines in mind, the Level 5 Global Qualification course covers the following topics in depth in a course than spans 15 months.</p>

                        <ol>
                          <li>Objectives and Principles of NTT </li>
                          <li>School Organization & Management </li>
                          <li>Development of Young Learners</li>
                          <li>Developmentally Appropriate Practices -Young Learners </li>
                          <li>Home, School and Community</li>
                          <li>Education in Early Years</li>
                          <li>Classroom Management Strategies</li>
                          <li>Learning Plan</li>
                          <li>Magic of Play</li>
                          <li>Assessment of Young Learners</li>
                          <li>Psychology</li>
                          <li>Curriculum Development</li>
                          <li>Special Education</li>
                          <li>Safety, Health & Nutrition in Early Years </li>
                          <li>Role of Technology in Early Years</li>
                          <li>EVS</li>
                          <li>Effective Lesson Planning</li>
                          <li>Literacy and Numeracy in Early Years</li>
                        </ol>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDiploma">
                      <p> After the completion of the Level 5 Global Qualification course, candidates are awarded a diploma by Atheneum Global Teacher Training College. The diploma awarded have an added advantage as the word ‘Online’ is not mentioned in the certificates. Shipment of certificates within India is done free of cost but the candidates residing outside India are required to pay an additional US $ 25 (South East Asian & Middle Eastern Countries) and US $ 35 (rest of the world) as certificate dispatch fee. Generally after submission of all the assignments and completion of the course, you have to pay the dispatch fee. After that we take your shipping address and contact number and courier the certificate to the same. It takes a maximum of 3 weeks for the certificates to reach the candidate’s address.</p>
                      </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEnrollment">
                      <ul>
                        <li>  Simple and easy enrollment process. </li>
                        <li>  Application and payment online. </li>
                      </ul>
                      <p>All our course requirements are clarified on our website, FAQs and Blog posts. You can also give us a call to help you with the onboarding process or to help clarify some aspects of the course.</p>
                      <p>Once you’ve made the online payment, you have to wait between 24-48 hours before we can enable your student account and get you started on your journey to academic success.</p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseAcademic">
                      <ul>
                        <li> Personalized tutor support. </li>
                        <li>  Tons of reference material and videos </li>
                        <li>  Self Paced Program at a mouse click away from you. </li>
                      </ul>
                      <p> Trainees enrolled into the program would be personally tutored by our experienced faculties at Atheneum Global Teacher Training College. Regular doubt clearing sessions and other academic support is extended as part of this personalized tutoring. The learning is at your own pace and the support provided is completely personalized and carries high level of expertise.</p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="coursePlacements">
                      <p>Atheneum Global Teacher Training College’s industry linkages and international credentials lends credibility to your candidature. Every candidate is issued a personalized letter to help him or her land up with an internship of their choice. This internship is an important step towards finishing your course as well as to start your journey as an educator.</p>
                      <p>In addition to this, candidates are also given privileged access to Jobs For Teachers, a national portal for teachers for all kinds of teaching assignments. In essence, what we wish to communicate is that Atheneum is committed to offer you the very best education and the very best access to teaching opportunities.</p>

                    </div>
                  </v-card>
                </v-tab-item>
              </v-tabs>
              <div class="d-flex justify-center align-center pa-3">
               <nuxt-link to="/enroll"> <v-btn large class="ma-2 themeBtn">
                  ENROLL NOW
                </v-btn></nuxt-link>
              </div>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
      <sliderTestimonialsPrograms/>

    </div>
  </section>
</template>

<script>
import programsLeftPanel from '../../components/programsLeftPanel';
import sliderTestimonialsPrograms from '../../components/sliderTestimonialsPrograms';

export default {
  components: { programsLeftPanel, sliderTestimonialsPrograms},
   head () {
    return {
      title: 'The Level 5 Global Qualification in Nursery Teacher Training – NTT Course',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: "Post Graduation Diploma in NTT is designed to enhance an applicants' learnings and increase her prospects in getting a job as a school teacher."
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/post-graduate-diploma-in-nursery-teacher-training/' }
            ]
    }
  },
  data: () => ({

  }),
  methods: {

  },
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
.courseTitle {
  color: $mainColor;
  padding: 1em 0;
  font-size: 1.5em;
}
ul {
  li {
    padding: 0.5em 0;
  }
}
.courseImage {
  max-height: 18em;
}
@media only screen and (max-width: 600px) {
  .courseImage {
    max-height: 7.5em;
  }
}
</style>
