<template>
  <section>
    <div class="container">
      <v-row>
        <v-col md="3">
          <programsLeftPanel/>
        </v-col>
        <v-col md="9">
          <v-card class="ma-md-2">
            <v-row align="center" justify="center">
              <img
                  src="/images/programs/ECE.png"
                  class="grey lighten-2 courseImage"
                  alt="POST GRADUATE DIPLOMA IN EARLY CHILDHOOD CARE & EDUCATION"
                  style="width:100%; max-width:97.5%"
                />
              <!-- <v-img
                :src="require(`@/assets/image/programs/ECE.png`)"
                :lazy-src="require(`@/assets/image/programs/ECE.png`)"
                aspect-ratio="1"
                class="grey lighten-2 courseImage"
                max-width="97.5%"
              ></v-img> -->
            </v-row>

            <v-card class="pa-md-3">
              <h1 class="courseTitle px-1"> Level 5 Global Qualification IN EARLY CHILDHOOD CARE & EDUCATION </h1>
              <div class="courseDescription px-1" >
                <p> Early childhood is defined as the period from birth to eight years of age, a period of rapid development of the brain and the years in which lifelong development of the child is rooted. The concept of ECCE encompasses the set of inputs and processes that young children need to ensure their later social, emotional, and cognitive development, which include health, nutrition, care, and opportunities for early learning.</p>
                <p> In recent years ECCE has emerged as an area of high priority at the international level. To quote from the former UN Secretary-General, Ban KiMoon’s speech at the Forum on Investing in Early Childhood Development (ECD) in September 2015, “For the first time, the global development agenda includes a target for early childhood development. The Sustainable Development Goals recognize that early childhood development can help drive the transformation we hope to achieve over the next 15 years.”</p>
                <p> A post graduate diploma in early childhood care and education is an advanced course for graduate trainees and existing classroom practioners. It equips course participants to learn and gain proficiency in all relevant theoretical and practical frameworks surrounding early childhood education. It enables trainees to develop the right structural framework to help them approach their chosen career with the confidence of deep seated knowledge and understanding.</p>
                <p> The course is tailor made to suit the needs of those students who seek to attain the highest knowledge in the field of early childhood education while not compromising on an existing career or life choices that requires them to pursue a global post-graduation diploma in a field of their choice.</p>

              </div>
              <v-tabs show-arrows center-active vertical>
                <v-tab>COURSE DURATION</v-tab>
                <v-tab>ELIGIBILITY</v-tab>
                <v-tab>COURSE FEE</v-tab>
                <v-tab>CURRICULUM</v-tab>
                <v-tab>DIPLOMA</v-tab>
                <v-tab>ENROLLMENT PROCESS</v-tab>
                <v-tab>ACADEMIC SUPPORT</v-tab>
                <v-tab>PLACEMENTS</v-tab>

                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDuration">
                      <div class="pa-3">
                      <ul>
                        <li> Maximum duration of the course is 15 months. </li>
                        <li> It is a flexible program that can be pursued from any corner of the globe. </li>
                        <li> Self-paced.</li>
                        <li> Fast track mode permits early completion</li>
                      </ul>
                      </div>
                      <p>The Level 5 Global Qualification in early childhood care and education prepares teachers for a global career in an early learning setting – a preschool, high school or even in a homeschooling set up. It has the right blend of discussion on international structural educational frameworks while incorporating localized practical learnings into the curriculum. The duration of the course, at maximum of 18 months, is a little longer than other teacher training colleges offer owing to a vast and in-depth curriculum. Average course completion time varies between 9-15 months depending on the number of hours per week that you devote to this course. The time spent though, is well accounted for as it equips teachers with the essential knowledge base to further his or her career in this field with confidence.</p>
                      </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEligibility">
                      <div class="pa-3">
                        <ul>
                          <li>  A Bachelors degree is the minimum requirement for this course. </li>
                          <li>  Aspiring and existing teachers are free to apply. </li>
                        </ul>
                      </div>
                      <p>The minimum eligibility requirement for the Level 5 Global Qualification in early childhood care and education is a bachelors degree from any recognized institute. After you’ve enrolled yourself into the course, you’d have to submit your documentation for our records. </p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseFee">
                      <div class="pa-3">
                        <ul>
                          <li>  Program is available in online mode. </li>
                          <li>  Very reasonably priced with installment options available. </li>
                          <li>  Scholarships available for meritorious students. </li>
                        </ul>
                      </div>
                      <p>The Level 5 Global Qualification in early childhood care and education is priced very affordably at Rs 25,500 for Indian citizens and $400 for international students. The course is administered completely online thereby crashing tuition expenses to bare minimum. Bid farewell to expensive post graduation degrees. With Post Graduation from Atheneum Global Teacher Training College, be best placed for a global teaching career with a very affordable investment.  </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseCurriculam">
                      <p> At Atheneum, we challenge you to become the very best YOU. Our internationally benchmarked teacher education curriculum is the very best in terms of range and depth of our courses. For our post graduate diploma in early childhood education and care (ECCE), we offer an in-depth curriculum that spans various theories, frameworks and practical concepts that trainees learn and adopt. It is strongly linked to the National ECCE Curriculum Framework set by the Ministry of Women and Child Development in conjuction with the HRD Ministry. </p>
                      <p>The National ECCE Curriculum Framework comprises of broadly three sections. </p>
                      <ul>
                        <li> <b> Section I </b> consists of introduction, vision for an Indian child, rationale and theoretical foundation for ECCE. The objectives of early childhood education; pedagogical bases and principles of early learning are laid out.  </li>
                        <li> <b> Section II </b> comprises of details of the goals for different domains of development, i.e. physical, language, cognitive, socio-emotional and creative and aesthetic appreciation, to be fostered to ensure holistic development of children under six years. It comprises of suggested developmentally appropriate practices for different age groups. </li>
                        <li> <b> Section III </b> focuses on implementation details such as principles of programme planning, stages of programme planning, role of parents and caregivers/ECCE teachers, essential play materials and assessment procedure etc. </li>
                      </ul>
                      <p> Keeping these guidelines in mind, the post graduate course covers the following topics in depth in a course than spans 15 months. </p>
                      <ol>
                          <li>Objectives and Principles of ECCE </li>
                          <li>Early Years Development </li>
                          <li>Developmentally Appropriate Practices - Early Years </li>
                          <li>Transition from Early Years </li>
                          <li>Learning Theories</li>
                          <li>Early Learning Environment </li>
                          <li>Early Learning Planning </li>
                          <li>Importance of Play</li>
                          <li>Pedagogical Techniques and Strategies </li>
                          <li>Assessment in Early YearsE </li>
                          <li>Advanced Child Psychology </li>
                          <li>Early Childhood Curriculum Development </li>
                          <li>Integration of Children with Special needs </li>
                          <li>Sociology </li>
                          <li>Exposure to Technology in Early Childhood </li>
                          <li>Environmental Sciences (EVS)</li>
                          <li>Basics of Lesson Planning </li>
                          <li>Literacy and Numeracy in Early Childhood </li>
                        </ol>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDiploma">
                      <p> After the completion of the course, candidates are awarded a diploma by Atheneum Global Teacher Training College. Atheneum carries several international affiliations of significance.</p>
                      <p> You will be awarded a globally recognized diploma from Atheneum Global Teacher Training College on successful completion of Post Graduate Diploma in Early Childhood Care and Education. The diploma awarded have an added advantage as the word ‘Online’ is not mentioned in the certificates. Shipment of certificates within India is done free of cost but the candidates residing outside India are required to pay an additional US $ 25 (South East Asian & Middle Eastern Countries) and US $ 35 (rest of the world) as certificate dispatch fee. Generally after submission of all the assignments and completion of the course, you have to pay the dispatch fee. After that we take your shipping address and contact number and courier the certificate to the same. It takes a maximum of 3 weeks for the certificates to reach the candidate’s address.</p>
                      </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEnrollment">
                      <ul>
                        <li>  Simple and easy enrollment process. </li>
                        <li>  Application and payment online. </li>
                      </ul>
                      <p> Once you have clarified all your doubts by going through our FAQs and Blogs you would be ready to enroll yourself into the course. You can also give us a call to help you with the onboarding process or to help clarify some aspects of the course.</p>
                      <p> Once you’ve made the online payment, you have to wait between 24-48 hours before we can enable your student account and get you started on your journey to academic success.  </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseAcademic">
                      <ul>
                        <li> Personalized tutor support. </li>
                        <li>  Tons of reference material and videos </li>
                        <li>  Self Paced </li>
                      </ul>
                      <p> Trainees enrolled into a program have the luxury of having hundreds of years of cumulative experience of trained facilitators associated with Atheneum Global Teacher Training College. Trainees are allocated a personalized tutor who is available to the trainees at all times for doubt clearing sessions and other academic support. The learning is at your own pace and the support provided is completely personalized and carries high level of expertise.   </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="coursePlacements">
                      <p>We acknowledge that the single biggest reason why most trainees would opt for the course would be to land up with a dream job as a teacher in a reputed school. Atheneum Global Teacher Training College is well placed to set you on the path to a successful teaching career. Our industry linkages and international credentials lends credibility to your candidature. Every candidate is issued a personalized letter to help him or her land up with an internship of their choice. This internship is an important step towards finishing your course as well as to start your journey as an educator.  </p>
                      <p>In addition to this, candidates are also given privileged access to Jobs For Teachers, a national portal for teachers for all kinds of teaching assignments. In essence, what we wish to communicate is that Atheneum is committed to offer you the very best education and the very best access to teaching opportunities.   </p>

                    </div>
                  </v-card>
                </v-tab-item>
              </v-tabs>
              <div class="d-flex justify-center align-center pa-3">
               <nuxt-link to="/enroll"> <v-btn large class="ma-2 themeBtn">
                  ENROLL NOW
                </v-btn></nuxt-link>
              </div>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
      <sliderTestimonialsPrograms/>

    </div>
  </section>
</template>

<script>
import programsLeftPanel from '../../components/programsLeftPanel';
import sliderTestimonialsPrograms from '../../components/sliderTestimonialsPrograms';

export default {
  components: { programsLeftPanel, sliderTestimonialsPrograms},
   head () {
    return {
      title: 'Level 5 Global Qualification in Early Childhood Care and Education',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'The Level 5 Global Qualification in early childhood care and education preparation prepares well informed teachers looking for a strongly differentiated teaching career.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/post-graduate-diploma-in-early-childhood-education-and-care/' }
            ]
    }
  },
  data: () => ({

  }),
  methods: {

  },
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
.courseTitle {
  color: $mainColor;
  padding: 1em 0;
  font-size: 1.5em;
}
ul {
  li {
    padding: 0.5em 0;
  }
}
.courseImage {
  max-height: 18em;
}
@media only screen and (max-width: 600px) {
  .courseImage {
    max-height: 7.5em;
  }
}
</style>
