<template>
  <section>
    <v-card>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="headline pl-0"> {{post.TITLE}}</v-list-item-title>
          <v-list-item-subtitle>dsjbvjbwef {{post.author}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-img
        src="https://cdn.vuetifyjs.com/images/cards/mountain.jpg"
        height="194"
      ></v-img>

      <v-card-text class="pl-0">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, nesciunt?
      </v-card-text>
      <!-- <v-card-text v-html="post.DESCRIPTION">
      </v-card-text> -->

      <v-card-actions class="pl-0">
        <nuxt-link to="blog/post-title"><v-btn large class="my-2 themeBtn" tile dark>Read More</v-btn></nuxt-link>
        <v-spacer></v-spacer>

      </v-card-actions>
    </v-card>
  </section>
</template>
<script>
export default {

  props:{
    post :{
      type:Object,
      default: function () {
        return {
          title:'hjsvdh',
          // post:{}
          post : {
            "title": "dsfsdf",
            "avatar":"https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light",
            "author":"by Kurt Wagner",
            "description":" Visit ten places on our planet that are undergoing the biggest changes today.",
            "headerImage":"https://cdn.vuetifyjs.com/images/cards/mountain.jpg"
          }
         }
      }
    }

  },
  mounted(){
    // console.log(this.post)
  },
  data(){
    return {

    }
  }

}
</script>
<style lang="scss" scoped>
section{
  margin: 1em;
}
</style>
