<template>
 
    <v-app>
      <section>
        <AppHeader />
        <hr class="mt d-md-none">
        <nuxt />
        <AppRequest/>
        <AppFooter />
      </section>
    </v-app>
  
</template>

<script>
import AppHeader from '../components/AppHeader'
import AppRequest from '../components/AppRequest'
import AppFooter from '../components/AppFooter'
export default {
  components:{
    AppHeader,
    AppRequest,
    AppFooter
  },
  data () {
    return {
    
    }
  }
}
</script>

<style lang="scss" scoped>
@media only screen and (max-width: 786px) {
  .mt{
    margin-top: 8em;
  }
}
</style>
