<template>
  <v-app dark>
    <h1 v-if="error.statusCode === 404" style="text-align:center; margin-top:50px; font-size:2em;">
      {{ pageNotFound }}
      <br>
      Please Search Something else
    </h1>
    <h1 v-else style="text-align:center;">
      {{ otherError }}
    </h1>
    <NuxtLink to="/" style="text-align:center;">
      Home page
    </NuxtLink>
  </v-app>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  },
  data () {
    return {
      pageNotFound: 'Oops! 404 - Page Not Found',
      otherError: 'An error occurred'
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
