
<template>
    <section>
      <div class="headTitleContainer">
          <div class="container">
              <h1>Atheneum College Blog</h1>
          </div>
      </div>
      <div class="container">
        <v-row>
          <v-col md="4" v-for="blog in blogs" v-bind:key="blog.PAGE_ID">
            <router-link :to="'blog/'+blog.SLUG" class="no">
              <v-card>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item class="headline pl-0">{{blog.TITLE}} </v-list-item>
                      <v-list-item-subtitle>{{blog.AUTHOR}}</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>

                  <v-img
                    :src="contentURL+blog.DOMAIN+blog.URI+blog.SLUG+'.jpg'"
                    height="194"
                  ></v-img>

                   
                  <!-- <v-card-text v-html="post.DESCRIPTION">
                  </v-card-text> -->

                  <v-card-actions class="pl-0">
                    <nuxt-link :to="'blog/'+blog.SLUG"><v-btn large class="my-2 themeBtn" tile dark>Read More</v-btn></nuxt-link>
                    <v-spacer></v-spacer>

                  </v-card-actions>
                </v-card>
            </router-link>
          </v-col>
        </v-row>
      </div>
    </section>
</template>
<script>
import AppBlogPost from '../../components/Blog/AppBlogPost'
import axios from 'axios'

export default {
  head() {
    return {
      title: "Atheneum Blog",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Atheneum Blog Posts"
        }
      ]
    };
  },
  components:{
    AppBlogPost
  },
  data(){
    return {
      projectDomain: 'atheneumglobal.education',
      apiDomain : 'https://api.teenybeans.in',
      contentURL: 'https://bscdn.sgp1.digitaloceanspaces.com/publicImages/',
      blogs:null,
      fullUrl:null
    }
  },
  methods: {
      fetchdata(){
        const self = this;
        fetch(this.apiDomain+'/API/blogPosts/v1/?allBlogs&domain='+this.projectDomain)
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }

            // Examine the text in the response
            response.json().then(function(data) {
              // console.log(data);
              self.blogs = data;
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
      }
  },
  created(){
  this.fetchdata();
  // console.log(this.apiDomain);
}

}
</script>

<style lang="scss" scoped>

</style>
