<template>
  <section>
    <section class="programList">
      <div class="container">
        <h1 class="sectionTitle">Affordable and flexible online career training program</h1>
        <p>Graduate in as few as four months from our affordable online training that works with any schedule and budget. Simply select your program and choose the monthly payment that fits your budget. You can enroll and start class the same day!</p>
        <v-row class="d-block d-md-flex">
          <v-col md="4">
            <v-card outlined class="programListCard">
              <h3 class="title">Certification Courses</h3>
              <ul>
                <li>
                  <nuxt-link to="/certificate-in-montessori-teacher-training/">Montessori Studies</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/certificate-in-pre-and-primary-teacher-training/"
                  >Pre and Primary Education</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/certificate-in-early-childhood-education-and-care/"
                  >Early Childhood Education and Care</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/certificate-in-nursery-teacher-training/"
                  >Nursery Teacher Training</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/certificate-in-school-organization-administration-and-management/"
                  >School Organization : Administration and Management</nuxt-link>
                </li>
              </ul>
              <!-- <v-btn block class="themeBtn" large dark>View All Programs</v-btn> -->
            </v-card>
          </v-col>
          <v-col md="4">
            <v-card outlined class="programListCard">
              <h3 class="title">Graduate Courses</h3>
              <ul>
                <li>
                  <nuxt-link
                    to="/graduate-diploma-in-montessori-teacher-training/"
                  >Montessori Teacher Training</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/graduate-diploma-in-pre-and-primary-teacher-training/"
                  >Pre and Primary Education</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/graduate-diploma-in-early-childhood-education-and-care/"
                  >Early Childhood Education and Care</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/graduate-diploma-in-nursery-teacher-training/"
                  >Nursery Teacher Training</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/graduate-diploma-in-school-organization-administration-and-management/"
                  >School Organization : Administration and Management</nuxt-link>
                </li>
              </ul>
              <!-- <v-btn block class="themeBtn" large dark>View All Programs</v-btn> -->
            </v-card>
          </v-col>
          <v-col md="4">
            <v-card outlined class="programListCard">
              <h3 class="title">Post Graduate Courses</h3>
              <ul>
                <li>
                  <nuxt-link
                    to="/post-graduate-diploma-in-montessori-teacher-training/"
                  >Montessori Teacher Training</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/post-graduate-diploma-in-pre-and-primary-teacher-training/"
                  >Pre and Primary Education</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/post-graduate-diploma-in-early-childhood-education-and-care/"
                  >Early Childhood Education and Care</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/post-graduate-diploma-in-nursery-teacher-training/"
                  >Nursery Teacher Training</nuxt-link>
                </li>
                <li>
                  <nuxt-link
                    to="/post-graduate-diploma-in-school-organization-administration-and-management/"
                  >School Organization : Administration and Management</nuxt-link>
                </li>
              </ul>
              <!-- <v-btn block class="themeBtn" large dark>View All Programs</v-btn> -->
            </v-card>
          </v-col>
        </v-row>
      </div>
    </section>

    <section class="whyLearn">
      <div class="container">
        <v-row class="d-block d-md-flex">
          <v-col md="4">
            <div class="content">
              <i class="material-icons">event_available</i>
              <p class="title">FLEXIBLE</p>
              <p>Mobile-friendly lessons are ready for you anytime, anywhere.</p>
            </div>
          </v-col>
          <v-col md="4">
            <div class="content">
              <i class="material-icons">business_center</i>
              <p class="title">AFFORDABLE</p>
              <p>Invest in yourself! Our payment plans work for any budget.</p>
            </div>
          </v-col>
          <v-col md="4">
            <div class="content">
              <i class="material-icons">supervisor_account</i>
              <p class="title">ACCREDITED</p>
              <p>Since 1987, we’ve helped students achieve their dreams.</p>
            </div>
          </v-col>
        </v-row>
      </div>
    </section>

    <section class="slider">
      <!-- <p class="sectionTitle text-center">Atheneum College graduate success stories</p> -->
      <div class="container">
        <v-carousel cycle height="100%" width="100%" hide-delimiter-background show-arrows-on-hover>
          <v-carousel-item v-for="(testimonial,i) in testimonials" :key="i">
            <v-row>
              <v-col sm="12" md="6">
                <v-img
                  class="white--text align-end"
                  height="300px"
                  :src="require(`@/assets/image/programs/${testimonial.image}`)"
                  contain
                ></v-img>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <div class="sliderContent pa-4">
                  <p class="title">{{testimonial.category}}</p>
                  <h2>{{testimonial.title}}</h2>
                  <p>{{testimonial.description}}</p>
                </div>
              </v-col>
            </v-row>
          </v-carousel-item>
        </v-carousel>
      </div>
    </section>

    <section class="faq">
      <div class="container">
        <v-row class="d-block d-md-flex">
          <v-col md="5">
            <p class="sectionTitle">Frequently asked questions</p>
            <p>We get it: there are a number of factors to consider before enrolling in an online program. Here’s what other Atheneum College students have wanted to know.</p>
          </v-col>
          <v-col md="7">
            <v-expansion-panels accordion class="mb-6">
              <v-expansion-panel v-for="(item,i) in content" :key="i">
                <v-expansion-panel-header disable-icon-rotate>
                  <p class="expansionTitle">{{item.title}}</p>
                  <template v-slot:actions>
                    <i class="iconPlus material-icons">add</i>
                    <i class="iconMinus material-icons">remove</i>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <div class="pa-3" v-html="item.description"></div>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-row>
      </div>
    </section>
  </section>
</template>
<script>
export default {
  data: () => ({
    content: [
      {
        id: 1,
        title:
          "What is the difference between a certificate, diploma, and degree?",
        description: `Career certificate and career diploma programs are designed to provide you with specialized training in a specific field or help you develop a specific skill. There are many careers that do not require college degrees, but may require you to have hands-on training or other proof of experience. This is where online certificate programs are valuable. Because they can be completed in a few months, certificates are a faster and less-expensive way to prepare for a job, study for a promotion, or even learn a hobby.`
      },
      {
        id: 2,
        title: "What are the requirements to get into a certificate program? ",
        description: `There are no prerequisites for our online certificate programs, but it is recommended that you have a high school diploma or equivalent before enrolling. These certifications are designed to prepare students for para-professional careers in education. State regulations in those fields may have age requirements. Admissions can help you determine if there may be state regulations to consider for your area of study.`
      },
      {
        id: 1,
        title:
          "Can I get a job as soon as I get my career certificate or career diploma?",
        description: `In most cases, yes. Our global accreditations and academic rigor helps our students to be best prepared for the challenges of preschools and pre and primary sections of high schools.`
      },
      {
        id: 1,
        title: `It's been a while since I was in school. Can I really handle an online degree program after so long?`,
        description: `Many Atheneum Global Teacher Training College students and graduates had this same concern before they enrolled. We think you’ll find the online format of our degree programs is ideal for independent learners like you who are returning to school after a long break. Our easy-to-follow curriculum lets you work at your own pace and comfort level. And any time you need help, an Academic Advisor is just a click or call away.`
      }
    ],
     testimonials: [
        {
          id: 1,
          image: "01.webp",
          category: "POST GRADUATE DIPLOMA",
          title: "PRE & PRIMARY TEACHER TRAINING",
          description:
            "The PG Diploma in Pre & Primary Teacher Training (PPTT) is the appropriate course available to students who are seeking to fulfill the requirements of a pre and primary teacher. The course adopts curriculum guidance from the National Curriculum Framework guidance provided by the Ministry of Women and Child Development and equips course participants with the knowledge and confidence to be expert practitioners in schools and preschools of their choice."
        },
        {
          id: 2,
          image: "MONTESSORI-EDUCATION.png",
          category: "CERTIFICATE COURSE",
          title: "MONTESSORI EDUCATION",
          description:
            "The Certificate Program in Montessori Teacher Training educates students about the core ideas of Dr. Maria Montessori and equips students to become effective Montessorians looking to start a career as a Montessori educator. The Certificate Program in Montessori Education prepares educators on the internationally acclaimed Montessori Method in an educational setting."
        },
        {
          id: 3,
          image: "02.webp",
          category: "POST GRADUATE DIPLOMA",
          title: "EARLY CHILDHOOD CARE & EDUCATION",
          description:
            "The post graduate diploma in early childhood care and education prepares teachers for a global career in an early learning setting – a preschool, high school or even in a homeschooling set up. It has the right blend of discussion on international structural educational frameworks while incorporating localized practical learnings into the curriculum."
        },
        {
          id: 4,
          image: "05.webp",
          category: "GRADUATE DIPLOMA",
          title: "NURSERY TEACHER TRAINING",
          description:
            "The Graduate Diploma in Nursery Teacher Training is the ideal program for aspirants who want to teach in the nursery and pre-primary sections of high schools in India. The core course has been framed within the guidelines mandated by the National Council of Educational Research and Training (NCERT) and prepares teachers at the national level for the rigors of teaching in a nursery setting."
        },
        {
          id: 5,
          image: "MONTESSORI-EDUCATION-PG.png",
          category: "POST GRADUATE DIPLOMA",
          title: "MONTESSORI EDUCATION",
          description:
            "The Program Post Graduate Diploma in Montessori Education (PGDME) prepares trained educators on the highest concepts and practicalities surrounding the internationally acclaimed Montessori Method in an educational setting. The Program targets at developing crucial competencies, abilities and values needed for powerful faculty leadership and management. The program focuses on having world class effective school leaders. PGDME is unique, scientific and innovative child-centered educational and management program based on the philosophy of Dr. Maria Montessori."
        }

      ]
  })
};
</script>

<style lang="scss" scoped>
.programList {
  text-align: center;
  padding: 1em;

  .title {
    font-size: 2em !important;
  }
  .programListCard {
    padding: 1em 0 0;
    border-top: 5px solid $mainColor;
    min-height: 24em;

    ul {
      list-style: none;
      padding: 3em 0;
      li {
        padding: 0.5em;
      }
    }
    li:hover {
      background: #9c2e38;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.whyLearn {
  text-align: center;
  padding: 3em 0;

  .content {
    text-align: center;
    padding: 1em;

    .title {
      font-size: 1.5em;
      padding: 0;
      font-weight: bold;
    }
    .material-icons {
      font-size: 70px !important;
      color: $mainColor;
    }
  }
}

.slider {
  .sliderContent {
    .title {
      color: $mainColor;
      font-size: large;
      font-weight: bold;
    }
  }
}
@media only screen and (max-width: 600px) {
}
</style>
