<template>
  <section>
    <AppBanner/>
    <AppFeatured/>
    <AppHomeDetails/>
    <!-- <AppBlog/> -->
  </section>
</template>

<script>
import AppFeatured from '../components/AppFeatured';
import AppBanner from '../components/Home/AppBanner';
import AppHomeDetails from '../components/Home/AppHomeDetails';
import AppBlog from '../components/Home/AppBlog';
export default {
  components: {
    AppBanner,
    AppFeatured,
    AppHomeDetails,
    AppBlog
  },
  head () {
    return {
      // title: this.title,
      title: 'Atheneum Global Teacher Training College',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Atheneum offers the most affordable recognized teacher training diploma and the best online Montessori teacher training programs.'
        }
      ],
      // link: [
      //     { rel: 'canonical', href: 'https://atheneumglobal.education' }
      //       ]
    }
  },
  created(){

}
}

</script>
