<template>
  <section>
    <div class="headTitleContainer">
      <div class="container">
        <h1>Request Info</h1>
      </div>
    </div>
    <div v-if="formView==true" class="container px-6">
      <form>
      <p class="sectionTitle">Request free program information</p>
      <p>Ready to experience education on your terms? Complete the form to learn more about your program of interest. Or, call an Admissions Advisor at +91-9073946431.</p>
      <v-row>
        <v-col col="12" md="6">
          <v-select v-model="pType" :items="programType" filled label="Program Type"></v-select>
        </v-col>
        <v-col col="12" md="6">
          <v-select v-model="pName" :items="programName" filled label="Program Name"></v-select>
        </v-col>
      </v-row>
      <div class="row">
        <div class="col-md-12 col-12">
          <v-text-field
            v-model="name"
            :counter="30"
            :rules="nameRules"
            label="Full Name"
            required
            filled
          ></v-text-field>
        </div>

        <div class="col-md-12 col-12">
          <v-text-field
            v-model="email"
            :counter="30"
            :rules="emailRules"
            label="Email"
            required
            filled
          ></v-text-field>
        </div>
        <div class="col-md-12 col-12">
          <v-text-field v-model="phone" label="Phone"  type="number" min="5555555555" max="111111111111111"  required filled></v-text-field>
        </div>
        <div class="col-md-12 col-12">
          <v-textarea
            filled
            v-model="MessageDetails"
            label="Your Message"
            :auto-grow="true"
            :row-height="2"
            value
          ></v-textarea>
        </div>
      </div>

      <p>
        <i>By submitting this form, you are granting consent for Atheneum College to contact you regarding our education and career services using email, text or telephone, including automated technology for calls to any wireless number you provide. This consent is not required for any purchase. As an alternative to providing this consent, you may receive information and/or enroll in a Atheneum College program by calling +91-9073946431.</i>
      </p>
      <p class="danger" v-if="formValid == true">Please fill all the fields!</p>
      <v-row>
        <div class="col-md-12">
          <div>
            <v-btn x-large class="themeBtn" @click.prevent="submitRequestInfo">Submit Now</v-btn>
          </div>
        </div>
      </v-row>
    </form>
    </div>
    <div v-else class="row">
        <div class="container">
          <h2>Thank you {{ name }} for your interest!  <br> We will get back to you soon!</h2>
        </div>
    </div>
  </section>
</template>
<script>
export default {
  data: () => ({
    formView:true,
    formValid:false,
    infoDetails:'',
    name: null,
    pType: null,
    pName: null,
    nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length > 4) || 'Name must have more than 4 characters',
    ],
    email: null,
    emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'Provide a valid E-mail address',
    ],
    phone:null,
    MessageDetails:null,
    EnquirySubject:null,
    programType: [
      "Certification Course",
      "Graduate Course",
      "Post Graduate Course"
    ],
    programName: [
      "Montessori Studies",
      "Pre & Primary Education",
      "Early Childhood Education & Care",
      "Nursery Teacher Training",
      "School Organization : Administration and Management"
    ],
    mailApi: "https://mailapi.teenybeans.in"
    // return this.programType,this.programName;
  }),



    // return {
    //   programType: [
    //     "Certification Course",
    //     "Graduate Course",
    //     "Post Graduate Course"
    //   ],
    //   programName: [
    //     "Montessori Studies",
    //     "Pre & Primary Education",
    //     "Early Childhood Education & Care",
    //     "Nursery Teacher Training",
    //     "School Organization : Administration and Management"
    //   ]
    // },
  methods: {

    submitRequestInfo: function() { //console.log('json.name');
      if(this.name == null || this.email== null|| this.phone== null || this.MessageDetails == null || this.pType == null || this.pName==null){
        this.formValid = true;
        return;
      }else{
         let formData = new FormData();
          formData.append('formName', 'RequestInfo');
          formData.append('Name', this.name);
          formData.append('Email', this.email);
          formData.append('Phone', this.phone);
          formData.append('MessageDetails', this.MessageDetails);
          let eSubject='Type: '+this.pType + ' Program: '+this.pName;
          formData.append('EnquirySubject', eSubject);
          fetch('https://api.teenybeans.in/API/contactFormProcessor/v1/', {
            method: 'POST',
            body: formData
          })
          .then(res => res.json())
          .then(json =>  {
            // alert("h");
            console.log(json.name);
            // this.infoDetails=json.errorm;
            this.infoDetails=json.info;
            if(json.errorm=='ok') {
              this.sendMail("teenybeans.info@gmail.com");
              // this.sendMail("chatterjeegouravking@gmail.com");
              this.sendWelcomeMail(this.email);
              this.formView=false;
              return this.formView;
            }//window.location.href = "/thank-you";//router.push("thank-you")
            // this.formView=false;
            // return this.formView,this.infoDetails;

            }
          );
      }
     
    },
    sendMail(sendEmail) {
      // ---------Mail sent-----------------
      var self = this;
      let formData = new FormData();
      formData.append("sendMail", "true");
      formData.append("reciever", sendEmail);
      formData.append("sender", "Atheneum");
      formData.append("senderMail", "no-reply@atheneumglobal.com");
      formData.append("subject", "New Req-info Form Fillup");
      formData.append(
        "message",
        "<html><body><p>New Req-info form is filled up.</p><br><p>User Details:-</p><table><tr><th>Name:- </th><td>:- " +
          self.name +
          "</td></tr><tr><th>Email:- </th><td>:- " +
          self.email +
          "</td></tr><tr><th>Phone:- </th><td>:- " +
          self.phone +
          "</td></tr><tr><th>Message:- </th><td>:- " +
          self.MessageDetails +
          "</td></tr></table></body></html>"
      );
      fetch(this.mailApi + "/", {
        method: "POST",
        body: formData
      })
        .then(function(response) {
          response.json().then(function(data) {
            // console.log(data);
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });
    },
    sendWelcomeMail(sendEmail) {
      // ---------Mail sent-----------------
      var self = this;
      let formData = new FormData();
      formData.append("sendMail", "true");
      formData.append("reciever", sendEmail);
      formData.append("sender", "Atheneum");
      formData.append("senderMail", "no-reply@atheneumglobal.com");
      formData.append(
        "subject",
        "Welcome to Atheneum Global Teacher Training College"
      );
      formData.append(
        "message",
        "<html><body><p>Welcome " +
          self.name +
          " to Atheneum Global Teacher Training College.<br>Thank you for contacting us. <br> We will get back to you shortly. In the meanwhile please do check out our website for more information. click <a href='https://atheneumglobal.education'>here</a><br>Thank you<br>-Team Atheneum </p></body></html>"
      );
      fetch(this.mailApi + "/", {
        method: "POST",
        body: formData
      })
        .then(function(response) {
          response.json().then(function(data) {
            // console.log(data);
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });
    },
  }
};
</script>
<style scoped>
.danger{
  color:red;
}
</style>
