<template>
  <section>
    <div class="container">
      <v-row>
        <v-col md="3">
          <programsLeftPanel/>
        </v-col>
        <v-col md="9">
          <v-card class="ma-md-2">
            <v-row align="center" justify="center">
              <img
                  src="/images/programs/ECE.png"
                  class="grey lighten-2 courseImage"
                  alt="GRADUATE DIPLOMA IN EARLY CHILDHOOD CARE & EDUCATION"
                  style="width:100%; max-width:97.5%"
                />
              <!-- <v-img
                :src="require(`@/assets/image/programs/ECE.png`)"
                :lazy-src="require(`@/assets/image/programs/ECE.png`)"
                aspect-ratio="1"
                class="grey lighten-2 courseImage"
                max-width="97.5%"
              ></v-img> -->
            </v-row>

            <v-card class="pa-md-3">
              <h1 class="courseTitle px-1"> GRADUATE DIPLOMA IN EARLY CHILDHOOD CARE & EDUCATION </h1>
              <div class="courseDescription px-1" >
                <p> A graduate diploma in early childhood care and education is a regular course for aspiring teachers and also existing classroom practioners. It equips course participants to learn and benefit from the knowledge of relevant theoretical and practical frameworks surrounding early childhood education. Created on the guidelines laid down by the Ministry of Women and Child Development, the graduate diploma course in early childhood care and education is the perfect classroom enablement for trainees looking to further their career in the field of early childhood education. </p>
                <p>The course is tailor made to suit the needs of those students who seek to a global career in the teaching profession without compromising on an existing career or life choices that requires them to pursue a global graduate diploma.</p>

              </div>
              <v-tabs show-arrows center-active vertical>
                <v-tab>COURSE DURATION</v-tab>
                <v-tab>ELIGIBILITY</v-tab>
                <v-tab>COURSE FEE</v-tab>
                <v-tab>CURRICULUM</v-tab>
                <v-tab>DIPLOMA</v-tab>
                <v-tab>ENROLLMENT PROCESS</v-tab>
                <v-tab>ACADEMIC SUPPORT</v-tab>
                <v-tab>PLACEMENTS</v-tab>

                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDuration">
                      <div class="pa-3">
                       <ul>
                        <li> Maximum duration of the course is 9 months. </li>
                        <li> It is a flexible program that can be pursued from any corner of the globe. </li>
                        <li> Self-paced.</li>
                        <li> Fast track mode permits early completion</li>
                       </ul>
                      </div>
                      <p>The graduate diploma in early childhood care and education prepares teachers for a global career in an early learning setting that is relevant both nationally and internationally. Care has been exercised to incorporate the guidelines of National Early Childhood Care and Education curriculum framework which has been framed by the Ministry of Women and Child Development, Govt of India. makes the course globally relevant.  </p>
                      <p>It has the right blend of discussion on international structural educational frameworks while incorporating localized practical learnings into the curriculum. The duration of the course, at maximum of 18 months, is a little longer than other teacher training colleges offer owing to a vast and in-depth curriculum. Average course completion time varies between 9-15 months depending on the number of hours per week that you devote to this course. The time spent though, is well accounted for as it equips teachers with the essential knowledge base to further his or her career in this field with confidence. </p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEligibility">
                      <div class="pa-3">
                        <ul>
                          <li> A high school graduation is the minimum requirement for this course </li>
                          <li>  Aspiring and existing teachers are free to apply. </li>
                        </ul>
                      </div>
                      <p>The minimum eligibility requirement for the graduate diploma in early childhood care and education is a high school graduation certificate from any recognized institute. After you’ve enrolled yourself into the course, you’d have to submit your documentation for our records. </p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseFee">
                      <div class="pa-3">
                        <ul>
                          <li>  Program is available in online mode. </li>
                          <li>  Very reasonably priced with installment options available. </li>
                          <li>  Scholarships available for meritorious students. </li>
                        </ul>
                      </div>
                      <p>The graduate diploma in early childhood care and education is priced very affordably at Rs 15,500 for Indian citizens and $250 for international students. The course is administered completely online for your benefit and convenience. A graduates diploma from Atheneum Global Teacher Training College opens up various possibilities for you as you embark on your journey towards a successful teaching career.  </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseCurriculam">
                      <p> The graduate diploma in Early Childhood Care & Education (ECCE) has been framed on the curriculum guidelines of the National Early Childhood Care and Education curriculum framework. The framework has been created by the nodal Ministry of Women and Child Development, Govt of India. The programme at the early childhood stage helps to ensure opportunities for holistic learning and growth. The ECCE programme needs to be determined by children’s developmental and contextual needs, providing for more need based inputs and an enabling environment. Given this need for an individualised approach, it was believed that a common ‘curriculum’ would not be appropriate for all. However, over the years it has been observed that the practical realities are different and most of the ECCE programmes on offer currently do not have developmentally appropriate programmes for the young child. The vacuum created by a lack of curriculum framework has resulted in its being filled with either a minimalist programme or the downward extension of the primary stage curriculum leading to overburdening the child which can have a negative impact on the child’s learning potential. </p>
                      <p> The graduate diploma in ECCE at Atheneum cognizes for these factors and expectations in creating the most comprehensive ECCE course available online. A detailed syllabus can be found here.</p>
                      <ol>
                        <li>Objectives and Principles of ECCE </li>
                        <li>Early Years Development</li>
                        <li>Developmentally Appropriate Practices - Early Years</li>
                        <li>Transition from Early Years</li>
                        <li>Learning Theories</li>
                        <li>Early Learning Environment</li>
                        <li>Early Learning Planning </li>
                        <li>Importance of Play</li>
                        <li>Pedagogical techniques and strategies</li>
                        <li>Assessment in Early Years </li>
                      </ol>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseDiploma">
                      <p> After the completion of the course, candidates are awarded a diploma by Atheneum Global Teacher Training College. Atheneum carries several international affiliations of significance.</p>
                      <p> You will be awarded a globally recognized diploma from Atheneum Global Teacher Training College on successful completion of Graduate Diploma in Early Childhood Care and Education. The diploma awarded has an added advantage as the word ‘Online’ is not mentioned in the certificates. Shipment of certificates within India is done free of cost but the candidates residing outside India are required to pay an additional US $ 25 (South East Asian & Middle Eastern Countries) and US $ 35 (rest of the world) as certificate dispatch fee. Generally after submission of all the assignments and completion of the course, you have to pay the dispatch fee. After that we take your shipping address and contact number and courier the certificate to the same. It takes a maximum of 3 weeks for the certificates to reach the candidate’s address.</p>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseEnrollment">
                      <ul>
                        <li>  Simple and easy enrollment process. </li>
                        <li>  Application and payment online. </li>
                      </ul>
                      <p> After clarification of all your doubts you would be ready to enroll yourself into the course. You can also give us a call to help you with the onboarding process or to help clarify some aspects of the course.</p>
                      <p>Once you’ve made the online payment, you have to wait between 24-48 hours before we can enable your student account and get you started on your journey to academic success.  </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="courseAcademic">
                      <ul>
                        <li>  Personalized tutor support. </li>
                        <li>  Tons of reference material and videos </li>
                        <li>  Self Paced </li>
                      </ul>
                      <p> Trainees enrolled into a program have access to trained mentors who cumulatively have hundreds of years of experience as teacher educators and are associated with Atheneum Global Teacher Training College. Trainees are allocated a personalized tutor who is available to the trainees at all times for doubt clearing sessions and other academic support. The learning is at your own pace and the support provided is completely personalized and carries high level of expertise. </p>

                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="pa-2">
                    <div class="coursePlacements">
                      <p> Our strong linkages with the education industry and international credentials lends credibility to your candidature. Every candidate is issued a personalized letter to help him or her land up with an internship of their choice. This internship is an important step towards finishing your course as well as to start your journey as an educator. </p>
                      <p> Candidates are also given privileged access to Jobs For Teachers, a national portal for teachers for all kinds of teaching assignments. Atheneum offers you the very best education and the very best access to teaching opportunities. </p>

                    </div>
                  </v-card>
                </v-tab-item>
              </v-tabs>
              <div class="d-flex justify-center align-center pa-3">
               <nuxt-link to="/enroll"> <v-btn large class="ma-2 themeBtn">
                  ENROLL NOW
                </v-btn></nuxt-link>
              </div>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
      <sliderTestimonialsPrograms/>

    </div>
  </section>
</template>

<script>
import programsLeftPanel from '../../components/programsLeftPanel';
import sliderTestimonialsPrograms from '../../components/sliderTestimonialsPrograms';

export default {
  components: { programsLeftPanel, sliderTestimonialsPrograms},
   head () {
    return {
      title: 'Graduate Diploma in Early Childhood Care and Education',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: "Atheneum's diploma course in early childhood care and education is specific to teachers considering a career in as an early childhood professional."
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://atheneumglobal.education/graduate-diploma-in-early-childhood-education-and-care/' }
            ]
    }
  },
  data: () => ({

  }),
  methods: {

  },
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
.courseTitle {
  color: $mainColor;
  padding: 1em 0;
  font-size: 1.5em;
}
ul {
  li {
    padding: 0.5em 0;
  }
}
.courseImage {
  max-height: 18em;
}
@media only screen and (max-width: 600px) {
  .courseImage {
    max-height: 7.5em;
  }
}
</style>
