<template>
  <section>
    <div class="headTitleContainer">
      <vue-headful :title="title" :description="metaTags" />
      <div class="container">
        <h3>Atheneum College Blog</h3>
        <h1 class="head">{{ title }}</h1>
      </div>
    </div>
    <div class="container">
      <v-row>
        <v-col cols="12" md="8">
          <v-card class="mx-auto">
            <v-img
              class="white--text align-end"
              :src="contentURL+projectDomain+uri+slug+'.jpg'"
              height="auto"
              width="600"
            ></v-img>

            <v-card-subtitle class="pb-0">
              <i class="material-icons">person</i>
              {{author}} &nbsp;
              <i class="material-icons">event_available</i>
              {{updatedDate}} &nbsp;
            </v-card-subtitle>
            <br />
            <div class="content" v-html="content"></div>

            <v-card-actions>
              <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_email"></a>
                <a class="a2a_button_linkedin"></a>
                <a class="a2a_button_pinterest"></a>
              </div>
              <!-- <v-btn color="orange" text>Share</v-btn> -->
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <p class="sectionTitle">Popular Posts</p>
          <div>
            <v-card class="mx-auto" v-for="blog in blogs" v-bind:key="blog.PAGE_ID">
              <router-link :to="'/blog/'+blog.SLUG" class="no">
                <v-list-item three-line>
                  <v-list-item-avatar tile width="60" color="grey">
                    <img
                      :src="contentURL+blog.DOMAIN+blog.URI+blog.SLUG+'.jpg'"
                    />
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-text class="mb-1">{{blog.TITLE}}</v-list-item-text>
                    <v-list-item-subtitle class="mb-1"></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </router-link>
            </v-card>
          </div>
        </v-col>
      </v-row>
    </div>
  </section>
</template>

<script>
import vueHeadful from "vue-headful";

export default {
  head() {
    return {
      title: "Blog | Atheneum Global Teacher Training College",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            " Get the latest updates about kindergarten education industry trends. Get valuable updates about various online courses and teacher training programs."
        }
      ]
    };
  },
  data() {
    return {
      msg: "Welcome to Your Vue.js App",
      blogs: null,
      slug: null,
      title: null,
      metaTags: null,
      content: null,
      uri: null,
      date: null,
      updatedDate: null,
      author: null,
      blogId: null,
      projectDomain: "atheneumglobal.education",
      apiDomain: "https://api.teenybeans.in",
      contentURL: 'https://bscdn.sgp1.digitaloceanspaces.com/publicImages/',
    };
  },
  mounted() {
    let recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute(
      "src",
      "https://static.addtoany.com/menu/page.js"
    );
    document.head.appendChild(recaptchaScript);
  },
  components: {
    vueHeadful
  },

  methods: {
    fetchdata() {
      var helo = this;
      fetch(
        this.apiDomain +
          "/API/blogPosts/v1/?singleBlog&domain=" +
          this.projectDomain +
          "&slug=" +
          this.slug
      )
        .then(function(response) {
          if (response.status !== 200) {
            console.log(
              "Looks like there was a problem. Status Code: " + response.status
            );
            return;
          }
          // Examine the text in the response
          response.json().then(function(data) {
            // console.log(data);
            //   helo.uris = data;
            helo.title = data.TITLE;
            // console.log(helo.title);
            helo.metaTags = data.META;
            helo.content = data.CONTENT;
            helo.author = data.AUTHOR;
            helo.date = data.DATE_CREATED;
            helo.updatedDate = data.DATE_UPDATED;
            helo.uri = data.URI;
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });

      var self = this;
      fetch(
        this.apiDomain +
          "/API/blogPosts/v1/?allBlogs&domain=" +
          this.projectDomain
      )
        .then(function(response) {
          if (response.status !== 200) {
            console.log(
              "Looks like there was a problem. Status Code: " + response.status
            );
            return;
          }

          // Examine the text in the response
          response.json().then(function(data) {
            // if(data){
            //   console.log("yes");
            // }else{
            //   console.log("no");
            // }
            console.log(data);
            self.blogs = data;
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });
    }
  },
  created() {
    var ResponseURL = this.$route.fullPath;
    var str = ResponseURL.split("/");
    console.log(str[str.length - 1]);
    this.slug = str[str.length - 1];
    // console.log(this.slug);

    this.fetchdata();
    setTimeout(() => {
      console.log(this.metaTags);
    }, 1000);
  },
  head() {
    return {
      meta: [{ name: "description", content: this.metaTags }]
    };
  }
};
</script>

<style scoped lang="scss">
.con > a {
  color: red;
}

div > a {
  color: red;
}
.text--primary > a {
  color: blue;
}
.head {
  font-size: 32px;
}
</style>
